chatwoot_conex_recuperado.json
{
  "updatedAt": "2026-04-22T20:50:11.706Z",
  "createdAt": "2026-04-22T20:50:11.706Z",
  "id": "YCfkLv6x6TUmaGcS",
  "name": "chatwoot_conex_recuperado",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres un asistente multimodal para WhatsApp en Chatwoot.\n\nEntrada actual:\n- Modalidad: {{ $(\"Normalizar Entrada\").item.json.modality }}\n- Texto usuario: {{ $(\"Normalizar Entrada\").item.json.content }}\n- URL media: {{ $(\"Normalizar Entrada\").item.json.media_url }}\n- MIME media: {{ $(\"Normalizar Entrada\").item.json.media_mime }}\n\nReglas:\n1) Usa SIEMPRE el contexto reciente de la conversación (memoria) antes de responder.\n2) Si el usuario dice \"esto\", \"eso\", \"así\", \"cómo hago\" o mensajes cortos ambiguos, asume primero que se refiere al último tema tratado y responde útilmente.\n3) Solo pide aclaración si hay ambigüedad real; cuando pidas aclaración, incluye una hipótesis concreta. Ejemplo: \"Si te refieres a sacar una foto más nítida, haz X... Si era otra cosa, dime cuál\".\n4) Nunca inventes contenido visual. Si no hay análisis visual real, dilo.\n5) Si modalidad=image y no hay análisis visual real, ofrece pasos prácticos (cómo tomar foto más clara / mejor ángulo / luz) y luego una pregunta de confirmación.\n6) Responde en español, breve, accionable y amable.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [368, -96],
      "id": "bc3c45ba-3eb4-4f65-b00f-52ff22a158b2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.2
        },
        "model": "openai/gpt-4.1-mini"
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [288, 192],
      "id": "ff9454b0-3637-468f-8d02-555de49299d2",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "GGIYelYz4pEX8CrX",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $(\"Normalizar Entrada\").item.json.conversation_id || $(\"Normalizar Entrada\").item.json.phone_number }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [496, 192],
      "id": "a0562285-b9e3-4d4f-905e-72abe87ccb79",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "74819ee7-41ce-45b6-8aab-8905322a53bd",
              "name": "url_chatwoot",
              "value": "https://chatwoottest.agencia2c.cloud/",
              "type": "string"
            },
            {
              "id": "90304917-be3c-4cf2-bc06-5e7b62d71af4",
              "name": "api_access_token",
              "value": "tuEQNSFcJCSuhd6Rb3wejWYr",
              "type": "string"
            }
          ]
        },
        "options": {
          "includeOtherFields": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [96, 96],
      "id": "ddc2854a-7bef-4064-a9d8-46689164bbc5",
      "name": "Datos"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $(\"Datos\").item.json.url_chatwoot + \"api/v1/accounts/1/conversations/\" + $(\"Normalizar Entrada\").item.json.conversation_id + \"/messages\" }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $(\"Datos\").item.json.api_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $(\"AI Agent\").item.json.output }}"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "false"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [720, -96],
      "id": "9a2a87cc-c2cd-4b96-b5e6-ebe6c1fb6188",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatwoot-conex-main-v1"
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-352, -32],
      "id": "0e6cf34a-d3bd-49fa-aec6-67b2cc66d2f6",
      "name": "Input",
      "webhookId": "8cbce81f-2ea1-4bd1-a4c0-13649f5ca9db"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "message_created",
              "id": "f12c7cd3-cb61-4b6f-9d17-0216ef3594d3",
              "leftValue": "={{ $json.body.event }}"
            },
            {
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "incoming",
              "id": "818291bc-1db2-4696-8e12-fd5c5fc71964",
              "leftValue": "={{ $json.body.message_type }}"
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-144, -32],
      "id": "82c65e81-d62d-49cc-a92b-bb91349a1daf",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [-112, 192],
      "id": "9934003d-8fcc-4f2e-9a6f-159c8508d6e2",
      "name": "No Operation"
    },
    {
      "parameters": {
        "jsCode": "const payload = $json.body || $json || {};\nconst conversation = payload.conversation || {};\nconst messages = Array.isArray(conversation.messages) ? conversation.messages : [];\nconst incomingMessage = messages.find((m) => String(m.message_type || '').toLowerCase() === 'incoming') || messages[messages.length - 1] || {};\nconst sources = [\n  payload.attachments,\n  incomingMessage.attachments,\n  payload.message && payload.message.attachments,\n  payload.content_attributes && payload.content_attributes.attachments\n].filter(Array.isArray);\nconst attachments = sources.flat();\nconst first = attachments[0] || {};\n\nconst pickString = (...values) => {\n  const val = values.find((v) => typeof v === 'string' && v.trim().length > 0);\n  return val ? val.trim() : '';\n};\n\nconst mediaUrl = pickString(\n  first.data_url,\n  first.url,\n  first.file_url,\n  first.external_url,\n  first.remote_url,\n  first.thumb_url\n) || null;\n\nlet rawMime = pickString(first.file_type, first.content_type, first.type).toLowerCase();\nif (!rawMime && mediaUrl && mediaUrl.startsWith('data:')) {\n  rawMime = mediaUrl.slice(5).split(';')[0].toLowerCase();\n}\n\nconst contentType = pickString(payload.content_type, incomingMessage.content_type).toLowerCase();\nconst urlLooksImage = !!(mediaUrl && /\\.(png|jpe?g|gif|webp|bmp|svg)(\\?|$)/i.test(mediaUrl));\nconst urlLooksAudio = !!(mediaUrl && /\\.(mp3|m4a|wav|ogg|aac|opus)(\\?|$)/i.test(mediaUrl));\nconst urlLooksVideo = !!(mediaUrl && /\\.(mp4|mov|mkv|webm|avi)(\\?|$)/i.test(mediaUrl));\n\nconst isImage = rawMime === 'image' || rawMime.startsWith('image/') || contentType === 'image' || contentType.startsWith('image/') || urlLooksImage;\nconst isAudio = rawMime === 'audio' || rawMime.startsWith('audio/') || contentType === 'audio' || contentType.startsWith('audio/') || urlLooksAudio;\nconst isVideo = rawMime === 'video' || rawMime.startsWith('video/') || contentType === 'video' || contentType.startsWith('video/') || urlLooksVideo;\n\nlet modality = 'text';\nif (attachments.length > 0 || mediaUrl) {\n  if (isImage) modality = 'image';\n  else if (isAudio) modality = 'audio';\n  else if (isVideo) modality = 'video';\n  else modality = 'file';\n} else if (contentType && contentType !== 'text') {\n  modality = contentType;\n}\n\nreturn [{\n  json: {\n    event: payload.event || null,\n    message_type: payload.message_type || incomingMessage.message_type || null,\n    content: pickString(payload.content, incomingMessage.content),\n    conversation_id: payload.conversation_id || conversation.id || incomingMessage.conversation_id || null,\n    phone_number: pickString(\n      payload?.sender?.phone_number,\n      incomingMessage?.sender?.phone_number,\n      conversation?.meta?.sender?.phone_number,\n      payload?.contact?.phone_number\n    ) || null,\n    modality,\n    media_url: mediaUrl,\n    media_mime: rawMime\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [48, -160],
      "id": "bc5ae75b-0eaa-4200-95da-a811e768f692",
      "name": "Normalizar Entrada"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "056b1155-8740-41a5-b560-0b4306a73e66",
              "leftValue": "={{ $json.modality }}",
              "rightValue": "image",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [288, 96],
      "id": "e1c20bf1-9fd4-48d5-ad1e-95d97a0c496c",
      "name": "If Es Imagen"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: \"openai/gpt-4.1-mini\", temperature: 0.1, messages: [ { role: \"system\", content: \"Analiza la imagen con precision y sin inventar.\" }, { role: \"user\", content: [ { type: \"text\", text: ($json.content && $json.content.trim() ? $json.content : \"Describe esta imagen\") }, { type: \"image_url\", image_url: { url: $json.media_url } } ] } ] } }}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [512, -16],
      "id": "c2051b04-7859-466e-9521-7629e24edb2c",
      "name": "Vision OpenRouter",
      "credentials": {
        "openRouterApi": {
          "id": "GGIYelYz4pEX8CrX",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4d141210-ecce-4492-8026-23651405a3f8",
              "name": "reply_text",
              "value": "={{ $json.choices[0].message.content || \"No pude analizar la imagen.\" }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "includeOtherFields": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [704, -16],
      "id": "916a3091-029f-4237-a4d5-ddba2abeb40e",
      "name": "Reply Vision"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $(\"Datos\").item.json.url_chatwoot + \"api/v1/accounts/1/conversations/\" + $(\"Normalizar Entrada\").item.json.conversation_id + \"/messages\" }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $(\"Datos\").item.json.api_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.reply_text }}"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "false"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [912, -16],
      "id": "3e4a621d-5eac-44d1-b79b-b98f0658aa02",
      "name": "HTTP Request Vision"
    }
  ],
  "connections": {
    "OpenRouter Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Simple Memory": {
      "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]]
    },
    "Datos": {
      "main": [[{ "node": "If Es Imagen", "type": "main", "index": 0 }]]
    },
    "AI Agent": {
      "main": [[{ "node": "HTTP Request", "type": "main", "index": 0 }]]
    },
    "Input": {
      "main": [[{ "node": "If", "type": "main", "index": 0 }]]
    },
    "If": {
      "main": [[{ "node": "Normalizar Entrada", "type": "main", "index": 0 }], [{ "node": "No Operation", "type": "main", "index": 0 }]]
    },
    "Normalizar Entrada": {
      "main": [[{ "node": "Datos", "type": "main", "index": 0 }]]
    },
    "If Es Imagen": {
      "main": [[{ "node": "Vision OpenRouter", "type": "main", "index": 0 }], [{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "Vision OpenRouter": {
      "main": [[{ "node": "Reply Vision", "type": "main", "index": 0 }]]
    },
    "Reply Vision": {
      "main": [[{ "node": "HTTP Request Vision", "type": "main", "index": 0 }]]
    }
  }
}
