pruebas/dashboard_state_workflow.json
{
  "updatedAt": "2026-05-31T23:21:02.241Z",
  "createdAt": "2026-05-25T21:37:48.456Z",
  "id": "6JugRzxsOGKBvgWW",
  "name": "BarberAgency - Dashboard State Webhook",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "barberagency/dashboard/state",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger-id",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        100,
        400
      ],
      "webhookId": "69450db3-bd77-4dc1-a4fa-0aff0ec4c09e"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "\n            const query = $input.first().json.query || {};\n            const slug = query.slug || query.barberia_slug || null;\n            const idRaw = query.barberia_id || query.id_barberia || null;\n            const barberia_id = idRaw ? Number(idRaw) : null;\n            return [{ json: { slug, barberia_id } }];\n          "
      },
      "id": "code-input-params-id",
      "name": "Get Input Params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        400
      ]
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "executeQuery",
        "query": "SELECT id, nombre, slug FROM public.barberias WHERE (slug = $1 OR id = $2) AND deleted_at IS NULL UNION ALL SELECT NULL AS id, NULL AS nombre, NULL AS slug LIMIT 1;",
        "options": {
          "queryReplacement": "={{ [$json.slug, $json.barberia_id] }}"
        }
      },
      "id": "pg-fetch-barberia-id",
      "name": "PG - Fetch Barberia",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        540,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "SOV6oSyuHI9cxgLF",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.id ? 1 : 0 }}",
              "rightValue": 1,
              "caseSensitive": true,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "if-barberia-found-id",
      "name": "IF - Barberia Encontrada",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        780,
        400
      ]
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "executeQuery",
        "query": "SELECT json_build_object(\n  'barberia', (SELECT row_to_json(b) FROM (SELECT * FROM public.barberias WHERE id = $1) b),\n  'servicios', (SELECT COALESCE(json_agg(s), '[]'::json) FROM (SELECT * FROM public.servicios WHERE barberia_id = $1) s),\n  'barberos', (SELECT COALESCE(json_agg(ba), '[]'::json) FROM (SELECT * FROM public.barberos WHERE barberia_id = $1 ) ba),\n  'horarios', (SELECT COALESCE(json_agg(h), '[]'::json) FROM (SELECT * FROM public.horarios WHERE barberia_id = $1 ORDER BY dia_semana ASC) h),\n  'clientes', (SELECT COALESCE(json_agg(cl), '[]'::json) FROM (SELECT * FROM public.clientes_finales WHERE barberia_id = $1 ORDER BY id DESC) cl),\n  'reservas', (\n    SELECT COALESCE(json_agg(ci), '[]'::json) FROM (\n      SELECT\n        c.*,\n        c.barberia_id AS dashboard_barberia_id,\n        c.barbero_id AS dashboard_barbero_id,\n        c.servicio_id AS dashboard_servicio_id,\n        c.cliente_id AS dashboard_cliente_id,\n        s.nombre AS servicio_nombre,\n        s.precio AS precio, -- Selected s.precio to populate service price in the response!\n        b.nombre AS barbero_nombre,\n        COALESCE(cf.nombre, c.cliente_nombre) AS dashboard_cliente_nombre,\n        COALESCE(cf.telefono, c.cliente_tel) AS dashboard_cliente_tel,\n        p.id AS pago_id,\n        p.total AS total_pagado,\n        p.metodo AS metodo_pago,\n        p.pagado_en AS pagado_en\n      FROM public.citas c\n      LEFT JOIN public.servicios s ON c.servicio_id = s.id\n      LEFT JOIN public.barberos b ON c.barbero_id = b.id\n      LEFT JOIN public.clientes_finales cf ON c.cliente_id = cf.id\n      LEFT JOIN public.pagos p ON c.id = p.cita_id\n      WHERE c.barberia_id = $1\n      ORDER BY c.fecha DESC, c.hora_inicio DESC\n    ) ci\n  )\n) AS result;",
        "options": {
          "queryReplacement": "={{ [$json.id] }}"
        }
      },
      "id": "pg-fetch-aggregated-data-id",
      "name": "PG - Fetch Aggregated Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1020,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "SOV6oSyuHI9cxgLF",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "\nconst data = $input.first().json.result || {};\nconst barberia = data.barberia || {};\nconst servicios = data.servicios || [];\nconst barberos = data.barberos || [];\nconst horarios = data.horarios || [];\nconst clientes = data.clientes || [];\nconst reservas = data.reservas || [];\n\nconst firstText = (...values) => values.map(v => (v ?? '').toString().trim()).find(Boolean) || '';\nconst firstNumber = (...values) => {\n  for (const value of values) {\n    const n = Number(value);\n    if (Number.isFinite(n) && n > 0) return n;\n  }\n  return null;\n};\n\nconst mappedServices = servicios.map(s => ({\n  id: s.id,\n  barberia_id: s.barberia_id,\n  nombre: s.nombre,\n  duracion_min: s.duracion_min,\n  precio: s.precio,\n  activo: s.activo,\n  imagen_url: s.imagen_url\n}));\n\nconst mappedBarbers = barberos.map(b => ({\n  id: b.id,\n  barberia_id: b.barberia_id,\n  nombre: b.nombre,\n  activo: b.activo,\n  usuario_id: b.usuario_id,\n  foto_url: b.foto_url\n}));\n\nconst mappedHours = horarios.map(h => ({\n  id: h.id,\n  barberia_id: h.barberia_id,\n  dia_semana: h.dia_semana,\n  activo: h.activo,\n  hora_abre: h.hora_abre,\n  hora_cierra: h.hora_cierra\n}));\n\nconst mappedClients = clientes.map(c => ({\n  id: c.id,\n  barberia_id: firstNumber(c.barberia_id),\n  nombre: firstText(c.nombre),\n  telefono: firstText(c.telefono),\n  created_at: c.created_at\n}));\n\nconst mappedReservations = reservas.map(c => ({\n  id: c.id,\n  barberia_id: firstNumber(c.dashboard_barberia_id, c.barberia_id),\n  barbero_id: firstNumber(c.dashboard_barbero_id, c.barbero_id),\n  id_barbero: firstNumber(c.dashboard_barbero_id, c.barbero_id),\n  servicio_id: firstNumber(c.dashboard_servicio_id, c.servicio_id),\n  id_servicio: firstNumber(c.dashboard_servicio_id, c.servicio_id),\n  cliente_id: firstNumber(c.dashboard_cliente_id, c.cliente_id),\n  cliente_nombre: firstText(c.dashboard_cliente_nombre, c.cliente_nombre),\n  cliente_tel: firstText(c.dashboard_cliente_tel, c.cliente_tel),\n  fecha: firstText(c.fecha),\n  hora_inicio: firstText(c.hora_inicio),\n  hora_fin: firstText(c.hora_fin),\n  servicio_nombre: firstText(c.servicio_nombre),\n  barbero_nombre: firstText(c.barbero_nombre),\n  estado: firstText(c.estado) || 'confirmada',\n  total: Number(c.total || c.precio || 0),\n  pago_id: c.pago_id ? Number(c.pago_id) : null,\n  total_pagado: c.total_pagado ? Number(c.total_pagado) : null,\n  metodo_pago: c.metodo_pago || null,\n  pagado_en: c.pagado_en || null,\n  created_at: c.created_at\n}));\n\nconst now = new Date();\nconst todayDay = now.getDate();\nconst todayMonth = now.getMonth();\nconst todayYear = now.getFullYear();\nconst todayDateString = todayYear + \"-\" + String(todayMonth + 1).padStart(2, \"0\") + \"-\" + String(todayDay).padStart(2, \"0\");\n\nconst todayCitas = mappedReservations.filter(r => String(r.fecha || '').startsWith(todayDateString));\nconst monthlyIncome = mappedReservations.reduce((sum, r) => sum + Number(r.total || 0), 0);\n\nconst response = {\n  ok: true,\n  identity: {\n    barberia_id: barberia.id || null,\n    slug: barberia.slug || null\n  },\n  seed: {\n    id: barberia.id,\n    nombre: barberia.nombre,\n    slug: barberia.slug,\n    services: mappedServices,\n    barbers: mappedBarbers,\n    hours: mappedHours,\n    clients: mappedClients,\n    appointments: mappedReservations\n  },\n  merged: {\n    biz_name: barberia.nombre,\n    biz_slug: barberia.slug,\n    services: mappedServices,\n    barbers: mappedBarbers,\n    hours: mappedHours,\n    clients: mappedClients,\n    appointments: mappedReservations\n  },\n  barberia: barberia,\n  reservas: mappedReservations,\n  clientes: mappedClients,\n  metricas: {\n    ingresos_mensuales: monthlyIncome,\n    citas_hoy: todayCitas.length,\n    nuevos_clientes: mappedClients.length\n  },\n  barberos: mappedBarbers,\n  servicios: mappedServices\n};\n\nreturn [{ json: response }];\n"
      },
      "id": "code-format-response-id",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1260,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-ok-id",
      "name": "Respond - ok",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1500,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: false, message: 'Barbería no encontrada.' } }}",
        "options": {
          "responseCode": 404,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-error-id",
      "name": "Respond - error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1020,
        520
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Input Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Input Params": {
      "main": [
        [
          {
            "node": "PG - Fetch Barberia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG - Fetch Barberia": {
      "main": [
        [
          {
            "node": "IF - Barberia Encontrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Barberia Encontrada": {
      "main": [
        [
          {
            "node": "PG - Fetch Aggregated Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG - Fetch Aggregated Data": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond - ok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "24b6aca7-ce48-434c-b7d6-5664136042da",
  "activeVersionId": "24b6aca7-ce48-434c-b7d6-5664136042da",
  "versionCounter": 27,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-25T21:37:48.459Z",
      "createdAt": "2026-05-25T21:37:48.459Z",
      "role": "workflow:owner",
      "workflowId": "6JugRzxsOGKBvgWW",
      "projectId": "ajSDxUXg76Ss65zL",
      "project": {
        "updatedAt": "2026-02-09T14:41:23.917Z",
        "createdAt": "2026-02-09T14:01:19.465Z",
        "id": "ajSDxUXg76Ss65zL",
        "name": "Carlos a Alvis <carlosalbertoalvisrodriguez@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "4ede7508-997a-4475-b2b8-9be2e3a6a415"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-05-31T23:21:02.242Z",
    "createdAt": "2026-05-31T23:21:02.242Z",
    "versionId": "24b6aca7-ce48-434c-b7d6-5664136042da",
    "workflowId": "6JugRzxsOGKBvgWW",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "GET",
          "path": "barberagency/dashboard/state",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "webhook-trigger-id",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1.1,
        "position": [
          100,
          400
        ],
        "webhookId": "69450db3-bd77-4dc1-a4fa-0aff0ec4c09e"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "\n            const query = $input.first().json.query || {};\n            const slug = query.slug || query.barberia_slug || null;\n            const idRaw = query.barberia_id || query.id_barberia || null;\n            const barberia_id = idRaw ? Number(idRaw) : null;\n            return [{ json: { slug, barberia_id } }];\n          "
        },
        "id": "code-input-params-id",
        "name": "Get Input Params",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          320,
          400
        ]
      },
      {
        "parameters": {
          "resource": "database",
          "operation": "executeQuery",
          "query": "SELECT id, nombre, slug FROM public.barberias WHERE (slug = $1 OR id = $2) AND deleted_at IS NULL UNION ALL SELECT NULL AS id, NULL AS nombre, NULL AS slug LIMIT 1;",
          "options": {
            "queryReplacement": "={{ [$json.slug, $json.barberia_id] }}"
          }
        },
        "id": "pg-fetch-barberia-id",
        "name": "PG - Fetch Barberia",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.4,
        "position": [
          540,
          400
        ],
        "credentials": {
          "postgres": {
            "id": "SOV6oSyuHI9cxgLF",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "combinator": "and",
            "conditions": [
              {
                "leftValue": "={{ $json.id ? 1 : 0 }}",
                "rightValue": 1,
                "caseSensitive": true,
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              }
            ]
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "id": "if-barberia-found-id",
        "name": "IF - Barberia Encontrada",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          780,
          400
        ]
      },
      {
        "parameters": {
          "resource": "database",
          "operation": "executeQuery",
          "query": "SELECT json_build_object(\n  'barberia', (SELECT row_to_json(b) FROM (SELECT * FROM public.barberias WHERE id = $1) b),\n  'servicios', (SELECT COALESCE(json_agg(s), '[]'::json) FROM (SELECT * FROM public.servicios WHERE barberia_id = $1) s),\n  'barberos', (SELECT COALESCE(json_agg(ba), '[]'::json) FROM (SELECT * FROM public.barberos WHERE barberia_id = $1 ) ba),\n  'horarios', (SELECT COALESCE(json_agg(h), '[]'::json) FROM (SELECT * FROM public.horarios WHERE barberia_id = $1 ORDER BY dia_semana ASC) h),\n  'clientes', (SELECT COALESCE(json_agg(cl), '[]'::json) FROM (SELECT * FROM public.clientes_finales WHERE barberia_id = $1 ORDER BY id DESC) cl),\n  'reservas', (\n    SELECT COALESCE(json_agg(ci), '[]'::json) FROM (\n      SELECT\n        c.*,\n        c.barberia_id AS dashboard_barberia_id,\n        c.barbero_id AS dashboard_barbero_id,\n        c.servicio_id AS dashboard_servicio_id,\n        c.cliente_id AS dashboard_cliente_id,\n        s.nombre AS servicio_nombre,\n        s.precio AS precio, -- Selected s.precio to populate service price in the response!\n        b.nombre AS barbero_nombre,\n        COALESCE(cf.nombre, c.cliente_nombre) AS dashboard_cliente_nombre,\n        COALESCE(cf.telefono, c.cliente_tel) AS dashboard_cliente_tel,\n        p.id AS pago_id,\n        p.total AS total_pagado,\n        p.metodo AS metodo_pago,\n        p.pagado_en AS pagado_en\n      FROM public.citas c\n      LEFT JOIN public.servicios s ON c.servicio_id = s.id\n      LEFT JOIN public.barberos b ON c.barbero_id = b.id\n      LEFT JOIN public.clientes_finales cf ON c.cliente_id = cf.id\n      LEFT JOIN public.pagos p ON c.id = p.cita_id\n      WHERE c.barberia_id = $1\n      ORDER BY c.fecha DESC, c.hora_inicio DESC\n    ) ci\n  )\n) AS result;",
          "options": {
            "queryReplacement": "={{ [$json.id] }}"
          }
        },
        "id": "pg-fetch-aggregated-data-id",
        "name": "PG - Fetch Aggregated Data",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.4,
        "position": [
          1020,
          300
        ],
        "credentials": {
          "postgres": {
            "id": "SOV6oSyuHI9cxgLF",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "\nconst data = $input.first().json.result || {};\nconst barberia = data.barberia || {};\nconst servicios = data.servicios || [];\nconst barberos = data.barberos || [];\nconst horarios = data.horarios || [];\nconst clientes = data.clientes || [];\nconst reservas = data.reservas || [];\n\nconst firstText = (...values) => values.map(v => (v ?? '').toString().trim()).find(Boolean) || '';\nconst firstNumber = (...values) => {\n  for (const value of values) {\n    const n = Number(value);\n    if (Number.isFinite(n) && n > 0) return n;\n  }\n  return null;\n};\n\nconst mappedServices = servicios.map(s => ({\n  id: s.id,\n  barberia_id: s.barberia_id,\n  nombre: s.nombre,\n  duracion_min: s.duracion_min,\n  precio: s.precio,\n  activo: s.activo,\n  imagen_url: s.imagen_url\n}));\n\nconst mappedBarbers = barberos.map(b => ({\n  id: b.id,\n  barberia_id: b.barberia_id,\n  nombre: b.nombre,\n  activo: b.activo,\n  usuario_id: b.usuario_id,\n  foto_url: b.foto_url\n}));\n\nconst mappedHours = horarios.map(h => ({\n  id: h.id,\n  barberia_id: h.barberia_id,\n  dia_semana: h.dia_semana,\n  activo: h.activo,\n  hora_abre: h.hora_abre,\n  hora_cierra: h.hora_cierra\n}));\n\nconst mappedClients = clientes.map(c => ({\n  id: c.id,\n  barberia_id: firstNumber(c.barberia_id),\n  nombre: firstText(c.nombre),\n  telefono: firstText(c.telefono),\n  created_at: c.created_at\n}));\n\nconst mappedReservations = reservas.map(c => ({\n  id: c.id,\n  barberia_id: firstNumber(c.dashboard_barberia_id, c.barberia_id),\n  barbero_id: firstNumber(c.dashboard_barbero_id, c.barbero_id),\n  id_barbero: firstNumber(c.dashboard_barbero_id, c.barbero_id),\n  servicio_id: firstNumber(c.dashboard_servicio_id, c.servicio_id),\n  id_servicio: firstNumber(c.dashboard_servicio_id, c.servicio_id),\n  cliente_id: firstNumber(c.dashboard_cliente_id, c.cliente_id),\n  cliente_nombre: firstText(c.dashboard_cliente_nombre, c.cliente_nombre),\n  cliente_tel: firstText(c.dashboard_cliente_tel, c.cliente_tel),\n  fecha: firstText(c.fecha),\n  hora_inicio: firstText(c.hora_inicio),\n  hora_fin: firstText(c.hora_fin),\n  servicio_nombre: firstText(c.servicio_nombre),\n  barbero_nombre: firstText(c.barbero_nombre),\n  estado: firstText(c.estado) || 'confirmada',\n  total: Number(c.total || c.precio || 0),\n  pago_id: c.pago_id ? Number(c.pago_id) : null,\n  total_pagado: c.total_pagado ? Number(c.total_pagado) : null,\n  metodo_pago: c.metodo_pago || null,\n  pagado_en: c.pagado_en || null,\n  created_at: c.created_at\n}));\n\nconst now = new Date();\nconst todayDay = now.getDate();\nconst todayMonth = now.getMonth();\nconst todayYear = now.getFullYear();\nconst todayDateString = todayYear + \"-\" + String(todayMonth + 1).padStart(2, \"0\") + \"-\" + String(todayDay).padStart(2, \"0\");\n\nconst todayCitas = mappedReservations.filter(r => String(r.fecha || '').startsWith(todayDateString));\nconst monthlyIncome = mappedReservations.reduce((sum, r) => sum + Number(r.total || 0), 0);\n\nconst response = {\n  ok: true,\n  identity: {\n    barberia_id: barberia.id || null,\n    slug: barberia.slug || null\n  },\n  seed: {\n    id: barberia.id,\n    nombre: barberia.nombre,\n    slug: barberia.slug,\n    services: mappedServices,\n    barbers: mappedBarbers,\n    hours: mappedHours,\n    clients: mappedClients,\n    appointments: mappedReservations\n  },\n  merged: {\n    biz_name: barberia.nombre,\n    biz_slug: barberia.slug,\n    services: mappedServices,\n    barbers: mappedBarbers,\n    hours: mappedHours,\n    clients: mappedClients,\n    appointments: mappedReservations\n  },\n  barberia: barberia,\n  reservas: mappedReservations,\n  clientes: mappedClients,\n  metricas: {\n    ingresos_mensuales: monthlyIncome,\n    citas_hoy: todayCitas.length,\n    nuevos_clientes: mappedClients.length\n  },\n  barberos: mappedBarbers,\n  servicios: mappedServices\n};\n\nreturn [{ json: response }];\n"
        },
        "id": "code-format-response-id",
        "name": "Format Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1260,
          300
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {
            "responseCode": 200,
            "responseHeaders": {
              "entries": [
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "*"
                },
                {
                  "name": "Access-Control-Allow-Methods",
                  "value": "GET, OPTIONS"
                },
                {
                  "name": "Access-Control-Allow-Headers",
                  "value": "*"
                }
              ]
            }
          }
        },
        "id": "respond-ok-id",
        "name": "Respond - ok",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1500,
          300
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ { ok: false, message: 'Barbería no encontrada.' } }}",
          "options": {
            "responseCode": 404,
            "responseHeaders": {
              "entries": [
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "*"
                },
                {
                  "name": "Access-Control-Allow-Methods",
                  "value": "GET, OPTIONS"
                },
                {
                  "name": "Access-Control-Allow-Headers",
                  "value": "*"
                }
              ]
            }
          }
        },
        "id": "respond-error-id",
        "name": "Respond - error",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1020,
          520
        ]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Get Input Params",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Input Params": {
        "main": [
          [
            {
              "node": "PG - Fetch Barberia",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PG - Fetch Barberia": {
        "main": [
          [
            {
              "node": "IF - Barberia Encontrada",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF - Barberia Encontrada": {
        "main": [
          [
            {
              "node": "PG - Fetch Aggregated Data",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond - error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PG - Fetch Aggregated Data": {
        "main": [
          [
            {
              "node": "Format Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Response": {
        "main": [
          [
            {
              "node": "Respond - ok",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Carlos a Alvis",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-31T23:21:02.309Z",
        "id": 1382,
        "workflowId": "6JugRzxsOGKBvgWW",
        "versionId": "24b6aca7-ce48-434c-b7d6-5664136042da",
        "event": "activated",
        "userId": "4ede7508-997a-4475-b2b8-9be2e3a6a415"
      },
      {
        "createdAt": "2026-05-31T23:21:02.890Z",
        "id": 1384,
        "workflowId": "6JugRzxsOGKBvgWW",
        "versionId": "24b6aca7-ce48-434c-b7d6-5664136042da",
        "event": "activated",
        "userId": "4ede7508-997a-4475-b2b8-9be2e3a6a415"
      },
      {
        "createdAt": "2026-05-31T23:21:02.291Z",
        "id": 1381,
        "workflowId": "6JugRzxsOGKBvgWW",
        "versionId": "24b6aca7-ce48-434c-b7d6-5664136042da",
        "event": "deactivated",
        "userId": "4ede7508-997a-4475-b2b8-9be2e3a6a415"
      },
      {
        "createdAt": "2026-05-31T23:21:02.530Z",
        "id": 1383,
        "workflowId": "6JugRzxsOGKBvgWW",
        "versionId": "24b6aca7-ce48-434c-b7d6-5664136042da",
        "event": "deactivated",
        "userId": "4ede7508-997a-4475-b2b8-9be2e3a6a415"
      }
    ]
  }
}