pruebas/execution_476864.json
{
  "id": "476864",
  "finished": true,
  "mode": "webhook",
  "retryOf": null,
  "retrySuccessId": null,
  "status": "success",
  "createdAt": "2026-06-09T22:25:14.174Z",
  "startedAt": "2026-06-09T22:25:14.179Z",
  "stoppedAt": "2026-06-09T22:25:14.257Z",
  "deletedAt": null,
  "workflowId": "dB102yaMhaxNSGpK",
  "waitTill": null,
  "storedAt": "db",
  "tracingContext": null,
  "deduplicationKey": null,
  "data": {
    "version": 1,
    "startData": {},
    "resultData": {
      "runData": {
        "Webhook - POST": [
          {
            "startTime": 1781043914186,
            "executionIndex": 0,
            "source": [],
            "hints": [],
            "executionTime": 0,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "headers": {
                        "host": "barberagency-n8n.gymh5g.easypanel.host",
                        "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/148.0.0.0 Safari/537.36",
                        "content-length": "5086",
                        "accept": "application/json",
                        "accept-encoding": "gzip, deflate, br, zstd",
                        "accept-language": "es-US,es;q=0.9",
                        "content-type": "text/plain;charset=UTF-8",
                        "cookie": "ba_session=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYXV0aGVudGljYXRlZCIsInN1YiI6IjciLCJ1c2VyX2lkIjo3LCJlbWFpbCI6InBpbGRvcmFzZGVhdXRvbWF0aXphY2lvbkBnbWFpbC5jb20iLCJwbGFuX2lkIjpudWxsLCJleHAiOjE3ODE2NDQyMDAsImlhdCI6MTc4MTAzOTQwMH0.LT4rKRo2yd58ZgnerUu7SdDvg5wUXsTsX_5klPABhFM",
                        "dnt": "1",
                        "origin": "https://barberagency-barberagency.gymh5g.easypanel.host",
                        "priority": "u=1, i",
                        "referer": "https://barberagency-barberagency.gymh5g.easypanel.host/",
                        "sec-ch-ua": "\"Chromium\";v=\"148\", \"Google Chrome\";v=\"148\", \"Not/A)Brand\";v=\"99\"",
                        "sec-ch-ua-mobile": "?0",
                        "sec-ch-ua-platform": "\"Windows\"",
                        "sec-fetch-dest": "empty",
                        "sec-fetch-mode": "cors",
                        "sec-fetch-site": "same-site",
                        "x-forwarded-for": "179.19.39.199",
                        "x-forwarded-host": "barberagency-n8n.gymh5g.easypanel.host",
                        "x-forwarded-port": "443",
                        "x-forwarded-proto": "https",
                        "x-forwarded-server": "14bdf3710966",
                        "x-real-ip": "179.19.39.199"
                      },
                      "params": {},
                      "query": {},
                      "body": "{\"barberia_id\":198,\"slug\":\"barberia-prueba-4\",\"mode\":\"edit\",\"draft\":{\"barberia\":{\"id\":198,\"barberia_id\":198,\"id_barberia\":198,\"nombre\":\"Barberia Prueba 4\",\"slug\":\"barberia-prueba-4\",\"telefono\":\"3106974573\",\"direccion\":\"Calle 131#101-10\",\"maps_url\":\"\",\"ciudad\":\"Bogota\",\"timezone\":\"America/Bogotá\",\"slot_min\":30},\"servicios\":[{\"nombre\":\"Corte Clasico\",\"duracion_min\":30,\"precio\":20000,\"imagen_url\":\"https://pub-369b1ea177db4f8e8b8fb47c8f6c0ef7.r2.dev/logos/file-427726.jpg\"},{\"nombre\":\"Barba\",\"duracion_min\":30,\"precio\":12000,\"imagen_url\":\"https://pub-369b1ea177db4f8e8b8fb47c8f6c0ef7.r2.dev/logos/file-427727.png\"},{\"nombre\":\"Corte + Cejas\",\"duracion_min\":30,\"precio\":23000,\"imagen_url\":\"https://pub-369b1ea177db4f8e8b8fb47c8f6c0ef7.r2.dev/logos/file-427728.png\"}],\"horarios\":[{\"dia\":\"lunes\",\"dia_semana\":1,\"activo\":true,\"hora_abre\":\"08:00\",\"hora_cierra\":\"20:30\"},{\"dia\":\"martes\",\"dia_semana\":2,\"activo\":true,\"hora_abre\":\"08:00\",\"hora_cierra\":\"20:30\"},{\"dia\":\"miercoles\",\"dia_semana\":3,\"activo\":true,\"hora_abre\":\"08:00\",\"hora_cierra\":\"20:30\"},{\"dia\":\"jueves\",\"dia_semana\":4,\"activo\":true,\"hora_abre\":\"08:00\",\"hora_cierra\":\"20:30\"},{\"dia\":\"viernes\",\"dia_semana\":5,\"activo\":true,\"hora_abre\":\"08:00\",\"hora_cierra\":\"20:30\"},{\"dia\":\"sabado\",\"dia_semana\":6,\"activo\":true,\"hora_abre\":\"08:00\",\"hora_cierra\":\"20:30\"},{\"dia\":\"domingo\",\"dia_semana\":0,\"activo\":true,\"hora_abre\":\"08:00\",\"hora_cierra\":\"20:30\"}],\"barberos\":[{\"id\":440,\"usuario_id\":256,\"nombre\":\"Barbero Prueba 4.1\",\"activo\":true,\"foto\":\"https://pub-369b1ea177db4f8e8b8fb47c8f6c0ef7.r2.dev/logos/file-427730.jpg\",\"foto_url\":\"https://pub-369b1ea177db4f8e8b8fb47c8f6c0ef7.r2.dev/logos/file-427730.jpg\"},{\"id\":439,\"usuario_id\":6,\"nombre\":\"Barbero prueba 4\",\"activo\":true,\"foto\":\"https://pub-369b1ea177db4f8e8b8fb47c8f6c0ef7.r2.dev/logos/file-427729.jpg\",\"foto_url\":\"https://pub-369b1ea177db4f8e8b8fb47c8f6c0ef7.r2.dev/logos/file-427729.jpg\"},{\"nombre\":\"barber3\",\"activo\":true,\"foto\":\"https://pub-369b1ea177db4f8e8b8fb47c8f6c0ef7.r2.dev/logos/file-476863.jpg\",\"foto_url\":\"https://pub-369b1ea177db4f8e8b8fb47c8f6c0ef7.r2.dev/logos/file-476863.jpg\"}],\"accesos\":{\"admin\":{\"nombre\":\"Carlos Alvis\",\"email\":\"pildorasdeautomatizacion@gmail.com\"},\"barberos\":[{\"nombre\":\"barber3\",\"email\":\"barber3@gmail.com\",\"password\":\"barber3123\",\"activo\":true,\"foto\":\"https://pub-369b1ea177db4f8e8b8fb47c8f6c0ef7.r2.dev/logos/file-476863.jpg\",\"foto_url\":\"https://pub-369b1ea177db4f8e8b8fb47c8f6c0ef7.r2.dev/logos/file-476863.jpg\"}]}},\"barberia\":{\"id\":198,\"barberia_id\":198,\"id_barberia\":198,\"nombre\":\"Barberia Prueba 4\",\"slug\":\"barberia-prueba-4\",\"telefono\":\"3106974573\",\"direccion\":\"Calle 131#101-10\",\"maps_url\":\"\",\"ciudad\":\"Bogota\",\"timezone\":\"America/Bogotá\",\"slot_min\":30},\"nombre\":\"Barberia Prueba 4\",\"telefono\":\"3106974573\",\"direccion\":\"Calle 131#101-10\",\"maps_url\":\"\",\"ciudad\":\"Bogota\",\"timezone\":\"America/Bogotá\",\"slot_min\":30,\"servicios\":[{\"nombre\":\"Corte Clasico\",\"duracion_min\":30,\"precio\":20000,\"imagen_url\":\"https://pub-369b1ea177db4f8e8b8fb47c8f6c0ef7.r2.dev/logos/file-427726.jpg\"},{\"nombre\":\"Barba\",\"duracion_min\":30,\"precio\":12000,\"imagen_url\":\"https://pub-369b1ea177db4f8e8b8fb47c8f6c0ef7.r2.dev/logos/file-427727.png\"},{\"nombre\":\"Corte + Cejas\",\"duracion_min\":30,\"precio\":23000,\"imagen_url\":\"https://pub-369b1ea177db4f8e8b8fb47c8f6c0ef7.r2.dev/logos/file-427728.png\"}],\"horarios\":[{\"dia\":\"lunes\",\"dia_semana\":1,\"activo\":true,\"hora_abre\":\"08:00\",\"hora_cierra\":\"20:30\"},{\"dia\":\"martes\",\"dia_semana\":2,\"activo\":true,\"hora_abre\":\"08:00\",\"hora_cierra\":\"20:30\"},{\"dia\":\"miercoles\",\"dia_semana\":3,\"activo\":true,\"hora_abre\":\"08:00\",\"hora_cierra\":\"20:30\"},{\"dia\":\"jueves\",\"dia_semana\":4,\"activo\":true,\"hora_abre\":\"08:00\",\"hora_cierra\":\"20:30\"},{\"dia\":\"viernes\",\"dia_semana\":5,\"activo\":true,\"hora_abre\":\"08:00\",\"hora_cierra\":\"20:30\"},{\"dia\":\"sabado\",\"dia_semana\":6,\"activo\":true,\"hora_abre\":\"08:00\",\"hora_cierra\":\"20:30\"},{\"dia\":\"domingo\",\"dia_semana\":0,\"activo\":true,\"hora_abre\":\"08:00\",\"hora_cierra\":\"20:30\"}],\"barberos\":[{\"id\":440,\"usuario_id\":256,\"nombre\":\"Barbero Prueba 4.1\",\"activo\":true,\"foto\":\"https://pub-369b1ea177db4f8e8b8fb47c8f6c0ef7.r2.dev/logos/file-427730.jpg\",\"foto_url\":\"https://pub-369b1ea177db4f8e8b8fb47c8f6c0ef7.r2.dev/logos/file-427730.jpg\"},{\"id\":439,\"usuario_id\":6,\"nombre\":\"Barbero prueba 4\",\"activo\":true,\"foto\":\"https://pub-369b1ea177db4f8e8b8fb47c8f6c0ef7.r2.dev/logos/file-427729.jpg\",\"foto_url\":\"https://pub-369b1ea177db4f8e8b8fb47c8f6c0ef7.r2.dev/logos/file-427729.jpg\"},{\"nombre\":\"barber3\",\"activo\":true,\"foto\":\"https://pub-369b1ea177db4f8e8b8fb47c8f6c0ef7.r2.dev/logos/file-476863.jpg\",\"foto_url\":\"https://pub-369b1ea177db4f8e8b8fb47c8f6c0ef7.r2.dev/logos/file-476863.jpg\"}],\"admin\":{\"nombre\":\"Carlos Alvis\",\"email\":\"pildorasdeautomatizacion@gmail.com\"},\"accesos\":{\"admin\":{\"nombre\":\"Carlos Alvis\",\"email\":\"pildorasdeautomatizacion@gmail.com\"},\"barberos\":[{\"nombre\":\"barber3\",\"email\":\"barber3@gmail.com\",\"password\":\"barber3123\",\"activo\":true,\"foto\":\"https://pub-369b1ea177db4f8e8b8fb47c8f6c0ef7.r2.dev/logos/file-476863.jpg\",\"foto_url\":\"https://pub-369b1ea177db4f8e8b8fb47c8f6c0ef7.r2.dev/logos/file-476863.jpg\"}]}}",
                      "webhookUrl": "https://barberagency-n8n.gymh5g.easypanel.host/webhook/barberagency/configuracion/update",
                      "executionMode": "production"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Code - parse request": [
          {
            "startTime": 1781043914186,
            "executionIndex": 1,
            "source": [
              {
                "previousNode": "Webhook - POST",
                "previousNodeOutput": 0,
                "previousNodeRun": 0
              }
            ],
            "hints": [],
            "executionTime": 9,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "session_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYXV0aGVudGljYXRlZCIsInN1YiI6IjciLCJ1c2VyX2lkIjo3LCJlbWFpbCI6InBpbGRvcmFzZGVhdXRvbWF0aXphY2lvbkBnbWFpbC5jb20iLCJwbGFuX2lkIjpudWxsLCJleHAiOjE3ODE2NDQyMDAsImlhdCI6MTc4MTAzOTQwMH0.LT4rKRo2yd58ZgnerUu7SdDvg5wUXsTsX_5klPABhFM",
                      "request": {
                        "mode": "edit",
                        "barberia_id": 198,
                        "slug": "barberia-prueba-4",
                        "barberia": {
                          "nombre": "Barberia Prueba 4",
                          "slug": "barberia-prueba-4",
                          "telefono": "3106974573",
                          "direccion": "Calle 131#101-10",
                          "ciudad": "Bogota",
                          "politicas": "",
                          "slot_min": 30
                        },
                        "servicios": [
                          {
                            "nombre": "Corte Clasico",
                            "duracion_min": 30,
                            "precio": 20000,
                            "imagen_url": "https://pub-369b1ea177db4f8e8b8fb47c8f6c0ef7.r2.dev/logos/file-427726.jpg"
                          },
                          {
                            "nombre": "Barba",
                            "duracion_min": 30,
                            "precio": 12000,
                            "imagen_url": "https://pub-369b1ea177db4f8e8b8fb47c8f6c0ef7.r2.dev/logos/file-427727.png"
                          },
                          {
                            "nombre": "Corte + Cejas",
                            "duracion_min": 30,
                            "precio": 23000,
                            "imagen_url": "https://pub-369b1ea177db4f8e8b8fb47c8f6c0ef7.r2.dev/logos/file-427728.png"
                          }
                        ],
                        "barberos": [
                          {
                            "id": 440,
                            "usuario_id": 256,
                            "nombre": "Barbero Prueba 4.1",
                            "foto_url": "https://pub-369b1ea177db4f8e8b8fb47c8f6c0ef7.r2.dev/logos/file-427730.jpg",
                            "activo": true
                          },
                          {
                            "id": 439,
                            "usuario_id": 6,
                            "nombre": "Barbero prueba 4",
                            "foto_url": "https://pub-369b1ea177db4f8e8b8fb47c8f6c0ef7.r2.dev/logos/file-427729.jpg",
                            "activo": true
                          },
                          {
                            "id": 0,
                            "usuario_id": 0,
                            "nombre": "barber3",
                            "foto_url": "https://pub-369b1ea177db4f8e8b8fb47c8f6c0ef7.r2.dev/logos/file-476863.jpg",
                            "activo": true,
                            "email": "barber3@gmail.com",
                            "password": "barber3123"
                          }
                        ],
                        "horarios": [
                          {
                            "dia_semana": 1,
                            "activo": true,
                            "hora_abre": "08:00",
                            "hora_cierra": "20:30"
                          },
                          {
                            "dia_semana": 2,
                            "activo": true,
                            "hora_abre": "08:00",
                            "hora_cierra": "20:30"
                          },
                          {
                            "dia_semana": 3,
                            "activo": true,
                            "hora_abre": "08:00",
                            "hora_cierra": "20:30"
                          },
                          {
                            "dia_semana": 4,
                            "activo": true,
                            "hora_abre": "08:00",
                            "hora_cierra": "20:30"
                          },
                          {
                            "dia_semana": 5,
                            "activo": true,
                            "hora_abre": "08:00",
                            "hora_cierra": "20:30"
                          },
                          {
                            "dia_semana": 6,
                            "activo": true,
                            "hora_abre": "08:00",
                            "hora_cierra": "20:30"
                          },
                          {
                            "dia_semana": 0,
                            "activo": true,
                            "hora_abre": "08:00",
                            "hora_cierra": "20:30"
                          }
                        ],
                        "admin": {
                          "nombre": "Carlos Alvis",
                          "email": "pildorasdeautomatizacion@gmail.com",
                          "password": ""
                        }
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "JWT - Verify session": [
          {
            "startTime": 1781043914195,
            "executionIndex": 2,
            "source": [
              {
                "previousNode": "Code - parse request",
                "previousNodeOutput": 0,
                "previousNodeRun": 0
              }
            ],
            "hints": [],
            "executionTime": 3,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "payload": {
                        "role": "authenticated",
                        "sub": "7",
                        "user_id": 7,
                        "email": "pildorasdeautomatizacion@gmail.com",
                        "plan_id": null,
                        "exp": 1781644200,
                        "iat": 1781039400
                      }
                    },
                    "pairedItem": 0
                  }
                ]
              ]
            }
          }
        ],
        "Code - prepare SQL": [
          {
            "startTime": 1781043914198,
            "executionIndex": 3,
            "source": [
              {
                "previousNode": "JWT - Verify session",
                "previousNodeOutput": 0,
                "previousNodeRun": 0
              }
            ],
            "hints": [],
            "executionTime": 6,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "params": [
                        7,
                        true,
                        198,
                        "barberia-prueba-4",
                        "edit",
                        "{\"nombre\":\"Barberia Prueba 4\",\"slug\":\"barberia-prueba-4\",\"telefono\":\"3106974573\",\"direccion\":\"Calle 131#101-10\",\"ciudad\":\"Bogota\",\"politicas\":\"\",\"slot_min\":30}",
                        "[{\"nombre\":\"Corte Clasico\",\"duracion_min\":30,\"precio\":20000,\"imagen_url\":\"https://pub-369b1ea177db4f8e8b8fb47c8f6c0ef7.r2.dev/logos/file-427726.jpg\"},{\"nombre\":\"Barba\",\"duracion_min\":30,\"precio\":12000,\"imagen_url\":\"https://pub-369b1ea177db4f8e8b8fb47c8f6c0ef7.r2.dev/logos/file-427727.png\"},{\"nombre\":\"Corte + Cejas\",\"duracion_min\":30,\"precio\":23000,\"imagen_url\":\"https://pub-369b1ea177db4f8e8b8fb47c8f6c0ef7.r2.dev/logos/file-427728.png\"}]",
                        "[{\"id\":440,\"usuario_id\":256,\"nombre\":\"Barbero Prueba 4.1\",\"foto_url\":\"https://pub-369b1ea177db4f8e8b8fb47c8f6c0ef7.r2.dev/logos/file-427730.jpg\",\"activo\":true},{\"id\":439,\"usuario_id\":6,\"nombre\":\"Barbero prueba 4\",\"foto_url\":\"https://pub-369b1ea177db4f8e8b8fb47c8f6c0ef7.r2.dev/logos/file-427729.jpg\",\"activo\":true},{\"id\":0,\"usuario_id\":0,\"nombre\":\"barber3\",\"foto_url\":\"https://pub-369b1ea177db4f8e8b8fb47c8f6c0ef7.r2.dev/logos/file-476863.jpg\",\"activo\":true,\"email\":\"barber3@gmail.com\",\"password\":\"barber3123\"}]",
                        "[{\"dia_semana\":1,\"activo\":true,\"hora_abre\":\"08:00\",\"hora_cierra\":\"20:30\"},{\"dia_semana\":2,\"activo\":true,\"hora_abre\":\"08:00\",\"hora_cierra\":\"20:30\"},{\"dia_semana\":3,\"activo\":true,\"hora_abre\":\"08:00\",\"hora_cierra\":\"20:30\"},{\"dia_semana\":4,\"activo\":true,\"hora_abre\":\"08:00\",\"hora_cierra\":\"20:30\"},{\"dia_semana\":5,\"activo\":true,\"hora_abre\":\"08:00\",\"hora_cierra\":\"20:30\"},{\"dia_semana\":6,\"activo\":true,\"hora_abre\":\"08:00\",\"hora_cierra\":\"20:30\"},{\"dia_semana\":0,\"activo\":true,\"hora_abre\":\"08:00\",\"hora_cierra\":\"20:30\"}]",
                        "{\"nombre\":\"Carlos Alvis\",\"email\":\"pildorasdeautomatizacion@gmail.com\",\"password\":\"\"}"
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Postgres - update configuracion": [
          {
            "startTime": 1781043914204,
            "executionIndex": 4,
            "source": [
              {
                "previousNode": "Code - prepare SQL",
                "previousNodeOutput": 0,
                "previousNodeRun": 0
              }
            ],
            "hints": [],
            "executionTime": 45,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "ok": true,
                      "code": "configuracion_actualizada",
                      "message": "Configuracion actualizada",
                      "status_code": 200,
                      "data": {
                        "hours": {
                          "ok": true,
                          "barberia_id": 198,
                          "horarios_upsertados": 7
                        },
                        "barberia": {
                          "id": 198,
                          "slug": "barberia-prueba-4",
                          "ciudad": "Bogota",
                          "nombre": "Barberia Prueba 4",
                          "owner_id": 7,
                          "slot_min": 30,
                          "telefono": "3106974573",
                          "direccion": "Calle 131#101-10",
                          "politicas": null
                        },
                        "catalogs": {
                          "ok": true,
                          "barberia_id": 198,
                          "barberos_upsertados": 3,
                          "servicios_upsertados": 3,
                          "barberos_desactivados": 0,
                          "servicios_desactivados": 0
                        },
                        "owner_id_actual": 7,
                        "owner_id_original": 7,
                        "new_barber_users_linked": 0
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Code - format response": [
          {
            "startTime": 1781043914249,
            "executionIndex": 5,
            "source": [
              {
                "previousNode": "Postgres - update configuracion",
                "previousNodeOutput": 0,
                "previousNodeRun": 0
              }
            ],
            "hints": [],
            "executionTime": 6,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "status_code": 200,
                      "body": {
                        "ok": true,
                        "code": "configuracion_actualizada",
                        "message": "Configuracion actualizada",
                        "data": {
                          "hours": {
                            "ok": true,
                            "barberia_id": 198,
                            "horarios_upsertados": 7
                          },
                          "barberia": {
                            "id": 198,
                            "slug": "barberia-prueba-4",
                            "ciudad": "Bogota",
                            "nombre": "Barberia Prueba 4",
                            "owner_id": 7,
                            "slot_min": 30,
                            "telefono": "3106974573",
                            "direccion": "Calle 131#101-10",
                            "politicas": null
                          },
                          "catalogs": {
                            "ok": true,
                            "barberia_id": 198,
                            "barberos_upsertados": 3,
                            "servicios_upsertados": 3,
                            "barberos_desactivados": 0,
                            "servicios_desactivados": 0
                          },
                          "owner_id_actual": 7,
                          "owner_id_original": 7,
                          "new_barber_users_linked": 0
                        }
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Respond": [
          {
            "startTime": 1781043914255,
            "executionIndex": 6,
            "source": [
              {
                "previousNode": "Code - format response",
                "previousNodeOutput": 0,
                "previousNodeRun": 0
              }
            ],
            "hints": [],
            "executionTime": 1,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "status_code": 200,
                      "body": {
                        "ok": true,
                        "code": "configuracion_actualizada",
                        "message": "Configuracion actualizada",
                        "data": {
                          "hours": {
                            "ok": true,
                            "barberia_id": 198,
                            "horarios_upsertados": 7
                          },
                          "barberia": {
                            "id": 198,
                            "slug": "barberia-prueba-4",
                            "ciudad": "Bogota",
                            "nombre": "Barberia Prueba 4",
                            "owner_id": 7,
                            "slot_min": 30,
                            "telefono": "3106974573",
                            "direccion": "Calle 131#101-10",
                            "politicas": null
                          },
                          "catalogs": {
                            "ok": true,
                            "barberia_id": 198,
                            "barberos_upsertados": 3,
                            "servicios_upsertados": 3,
                            "barberos_desactivados": 0,
                            "servicios_desactivados": 0
                          },
                          "owner_id_actual": 7,
                          "owner_id_original": 7,
                          "new_barber_users_linked": 0
                        }
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Respond"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {},
      "runtimeData": {
        "version": 1,
        "establishedAt": 1781043914174,
        "source": "webhook",
        "redaction": {
          "version": 1,
          "policy": "none"
        },
        "triggerNode": {
          "name": "Webhook - POST",
          "type": "n8n-nodes-base.webhook"
        }
      }
    },
    "resumeToken": "10642a93758c3fca1b6381217444139f6431a97aefe6976911836b6dfadcd57f"
  },
  "workflowData": {
    "id": "dB102yaMhaxNSGpK",
    "name": "BarberAgency - Configuracion Update",
    "active": true,
    "activeVersionId": "decbd9f2-f08d-471e-a6cf-936e9d42096f",
    "isArchived": false,
    "createdAt": "2026-06-09T21:34:23.044Z",
    "updatedAt": "2026-06-09T22:17:32.494Z",
    "nodes": [
      {
        "parameters": {
          "multipleMethods": false,
          "httpMethod": "POST",
          "path": "barberagency/configuracion/update",
          "authentication": "none",
          "responseMode": "responseNode",
          "webhookNotice": "",
          "options": {}
        },
        "id": "webhook-post",
        "name": "Webhook - POST",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1.1,
        "position": [
          100,
          300
        ],
        "webhookId": "62e89d75-8b9e-4cb6-afc6-2ae5ccc6dc2c"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "\nconst i = $input.first().json || {};\nconst h = i.headers || {};\nlet body = {};\nif (i.body && typeof i.body === 'object') {\n  body = i.body;\n} else if (typeof i.body === 'string') {\n  try {\n    body = JSON.parse(i.body);\n  } catch (_) {\n    body = {};\n  }\n}\nconst draft = body.draft && typeof body.draft === 'object' ? body.draft : {};\nconst barberia = draft.barberia && typeof draft.barberia === 'object' ? draft.barberia : {};\nconst accesos = draft.accesos && typeof draft.accesos === 'object' ? draft.accesos : {};\nconst admin = accesos.admin && typeof accesos.admin === 'object' ? accesos.admin : {};\nconst accessBarbers = Array.isArray(accesos.barberos) ? accesos.barberos : [];\nconst cookieHeader = (h.cookie ?? h.Cookie ?? '').toString();\nconst m = cookieHeader.match(/(?:^|;\\s*)ba_session=([^;]+)/);\nconst session_token = m ? m[1] : '';\nconst clean = (v) => (v ?? '').toString().trim();\nconst toNumber = (v) => {\n  const n = Number(v);\n  return Number.isFinite(n) ? n : 0;\n};\nconst normalizeServicios = (rows) => Array.isArray(rows) ? rows\n  .map((item) => ({\n    nombre: clean(item?.nombre || item?.name),\n    duracion_min: Math.max(1, Number(item?.duracion_min || item?.duration_min || 30)),\n    precio: Math.max(0, Number(item?.precio || item?.price || 0)),\n    imagen_url: clean(item?.imagen_url || item?.image_url || item?.foto_url || item?.foto)\n  }))\n  .filter((item) => item.nombre) : [];\nconst findAccessForBarber = (item, index) => {\n  const id = toNumber(item?.id || item?.barbero_id);\n  const nombre = clean(item?.nombre || item?.name).toLowerCase();\n  const byIndex = accessBarbers[index] && typeof accessBarbers[index] === 'object' ? accessBarbers[index] : null;\n  if (byIndex && (!id || toNumber(byIndex.id || byIndex.barbero_id) === id)) return byIndex;\n  return accessBarbers.find((access) => {\n    const accessId = toNumber(access?.id || access?.barbero_id);\n    const accessName = clean(access?.nombre || access?.name).toLowerCase();\n    return (id && accessId === id) || (!id && nombre && accessName === nombre);\n  }) || {};\n};\nconst normalizeBarberos = (rows) => Array.isArray(rows) ? rows\n  .map((item, index) => {\n    const id = toNumber(item?.id || item?.barbero_id);\n    const access = findAccessForBarber(item, index);\n    const payload = {\n      id,\n      usuario_id: toNumber(item?.usuario_id || item?.user_id),\n      nombre: clean(item?.nombre || item?.name),\n      foto_url: clean(item?.foto_url || item?.foto || item?.avatar_url || item?.image_url),\n      activo: item?.activo === undefined ? true : Boolean(item.activo)\n    };\n    if (!id) {\n      payload.email = clean(access?.email || item?.email).toLowerCase();\n      payload.password = clean(access?.password || item?.password);\n    }\n    return payload;\n  })\n  .filter((item) => item.nombre) : [];\nconst dayToIndex = { domingo: 0, lunes: 1, martes: 2, miercoles: 3, jueves: 4, viernes: 5, sabado: 6 };\nconst normalizeHorarios = (rows) => Array.isArray(rows) ? rows\n  .map((item) => {\n    const dia = clean(item?.dia || '').toLowerCase();\n    const dia_semana = Number.isInteger(item?.dia_semana) ? Number(item.dia_semana) : dayToIndex[dia];\n    return {\n      dia_semana,\n      activo: Boolean(item?.activo),\n      hora_abre: clean(item?.hora_abre) || '09:00',\n      hora_cierra: clean(item?.hora_cierra) || '18:00'\n    };\n  })\n  .filter((item) => Number.isInteger(item.dia_semana) && item.dia_semana >= 0 && item.dia_semana <= 6) : [];\n\nreturn [{\n  json: {\n    session_token,\n    request: {\n      mode: clean(body.mode || 'edit'),\n      barberia_id: toNumber(body.barberia_id || barberia.barberia_id || barberia.id || barberia.id_barberia),\n      slug: clean(body.slug || barberia.slug),\n      barberia: {\n        nombre: clean(barberia.nombre || body.nombre),\n        slug: clean(body.slug || barberia.slug),\n        telefono: clean(barberia.telefono || body.telefono),\n        direccion: clean(barberia.direccion || body.direccion),\n        ciudad: clean(barberia.ciudad || body.ciudad),\n        politicas: clean(barberia.politicas || body.politicas),\n        slot_min: toNumber(barberia.slot_min || body.slot_min || 15)\n      },\n      servicios: normalizeServicios(draft.servicios || body.servicios),\n      barberos: normalizeBarberos(draft.barberos || body.barberos),\n      horarios: normalizeHorarios(draft.horarios || body.horarios),\n      admin: {\n        nombre: clean(admin.nombre),\n        email: clean(admin.email).toLowerCase(),\n        password: clean(admin.password)\n      }\n    }\n  }\n}];\n",
          "notice": ""
        },
        "id": "parse-request",
        "name": "Code - parse request",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          300,
          300
        ]
      },
      {
        "parameters": {
          "operation": "verify",
          "token": "={{ $json.session_token }}",
          "options": {
            "algorithm": "HS256"
          }
        },
        "id": "verify-session",
        "name": "JWT - Verify session",
        "type": "n8n-nodes-base.jwt",
        "typeVersion": 1,
        "position": [
          500,
          300
        ],
        "credentials": {
          "jwtAuth": {
            "id": "mNWhzdM1ihAaBkZM",
            "name": "JWT Auth account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "\nconst jwt = $input.first().json || {};\nconst request = $('Code - parse request').first().json.request || {};\nconst auth_ok = !jwt.error && !!jwt.payload?.user_id;\nconst user_id = auth_ok ? Number(jwt.payload.user_id) : 0;\nconst asJson = (value, fallback) => JSON.stringify(value ?? fallback);\nreturn [{\n  json: {\n    params: [\n      user_id,\n      auth_ok,\n      Number(request.barberia_id || 0),\n      request.slug || null,\n      request.mode || 'edit',\n      asJson(request.barberia, {}),\n      asJson(request.servicios, []),\n      asJson(request.barberos, []),\n      asJson(request.horarios, []),\n      asJson(request.admin, {})\n    ]\n  }\n}];\n",
          "notice": ""
        },
        "id": "prepare-sql",
        "name": "Code - prepare SQL",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          700,
          300
        ]
      },
      {
        "parameters": {
          "resource": "database",
          "operation": "executeQuery",
          "query": "\nWITH input AS (\n  SELECT\n    $1::int AS user_id,\n    COALESCE($2::boolean, false) AS auth_ok_jwt,\n    $3::int AS barberia_id,\n    NULLIF(trim($4::text), '') AS slug,\n    lower(NULLIF(trim($5::text), '')) AS mode,\n    COALESCE($6::jsonb, '{}'::jsonb) AS barberia,\n    COALESCE($7::jsonb, '[]'::jsonb) AS servicios,\n    COALESCE($8::jsonb, '[]'::jsonb) AS barberos,\n    COALESCE($9::jsonb, '[]'::jsonb) AS horarios,\n    COALESCE($10::jsonb, '{}'::jsonb) AS admin\n),\ntarget AS (\n  SELECT b.*\n  FROM public.barberias b, input i\n  WHERE b.id = i.barberia_id\n    AND b.deleted_at IS NULL\n  LIMIT 1\n),\nauth_check AS (\n  SELECT u.id, u.role, u.email\n  FROM public.usuarios u, input i\n  WHERE u.id = i.user_id\n  LIMIT 1\n),\nvalidation AS (\n  SELECT\n    i.*,\n    t.id AS target_id,\n    t.slug AS target_slug,\n    t.owner_id AS original_owner_id,\n    ac.role AS user_role,\n    CASE\n      WHEN NOT i.auth_ok_jwt OR ac.id IS NULL THEN 'sesion_no_valida'\n      WHEN i.mode <> 'edit' THEN 'modo_invalido'\n      WHEN i.barberia_id <= 0 OR i.slug IS NULL THEN 'datos_invalidos'\n      WHEN t.id IS NULL THEN 'barberia_no_encontrada'\n      WHEN t.slug IS DISTINCT FROM i.slug THEN 'slug_mismatch'\n      WHEN NOT (t.owner_id = i.user_id OR ac.role = 'super_admin') THEN 'sin_permiso'\n      WHEN COALESCE(jsonb_array_length(i.servicios), 0) = 0 THEN 'servicios_invalidos'\n      WHEN COALESCE(jsonb_array_length(i.horarios), 0) = 0 THEN 'horarios_invalidos'\n      WHEN EXISTS (\n        SELECT 1\n        FROM jsonb_array_elements(i.barberos) nb(value)\n        WHERE COALESCE(NULLIF(nb.value->>'id', '')::int, 0) = 0\n          AND (\n            NULLIF(btrim(nb.value->>'email'), '') IS NULL OR\n            NULLIF(btrim(nb.value->>'password'), '') IS NULL OR\n            length(btrim(nb.value->>'password')) < 6\n          )\n      ) THEN 'credenciales_barbero_nuevo_invalidas'\n      ELSE 'ok'\n    END AS code\n  FROM input i\n  LEFT JOIN target t ON true\n  LEFT JOIN auth_check ac ON true\n),\nupdated_barberia AS (\n  UPDATE public.barberias b\n  SET\n    nombre = COALESCE(NULLIF(trim(v.barberia->>'nombre'), ''), b.nombre),\n    telefono = NULLIF(trim(v.barberia->>'telefono'), ''),\n    direccion = NULLIF(trim(v.barberia->>'direccion'), ''),\n    ciudad = NULLIF(trim(v.barberia->>'ciudad'), ''),\n    politicas = NULLIF(trim(v.barberia->>'politicas'), ''),\n    slot_min = CASE\n      WHEN COALESCE((v.barberia->>'slot_min')::int, b.slot_min) IN (5, 10, 15, 20, 30)\n        THEN COALESCE((v.barberia->>'slot_min')::int, b.slot_min)\n      ELSE b.slot_min\n    END\n  FROM validation v\n  WHERE v.code = 'ok'\n    AND b.id = v.target_id\n  RETURNING b.id, b.nombre, b.slug, b.telefono, b.direccion, b.ciudad, b.politicas, b.slot_min, b.owner_id\n),\nsync_catalogs AS (\n  SELECT\n    CASE WHEN v.code = 'ok'\n      THEN public.ba_sync_publicacion_collections(v.target_id, v.servicios, v.barberos)\n      ELSE NULL::jsonb\n    END AS result\n  FROM validation v\n),\nsync_hours AS (\n  SELECT\n    CASE WHEN v.code = 'ok'\n      THEN public.ba_sync_registro_horarios(v.target_id, v.horarios)\n      ELSE NULL::jsonb\n    END AS result\n  FROM validation v\n),\nnew_barber_access AS (\n  SELECT\n    v.target_id AS barberia_id,\n    NULLIF(btrim(item.value->>'nombre'), '') AS nombre,\n    lower(NULLIF(btrim(item.value->>'email'), '')) AS email,\n    NULLIF(btrim(item.value->>'password'), '') AS password\n  FROM validation v\n  CROSS JOIN LATERAL jsonb_array_elements(v.barberos) item(value)\n  WHERE v.code = 'ok'\n    AND COALESCE(NULLIF(item.value->>'id', '')::int, 0) = 0\n    AND NULLIF(btrim(item.value->>'nombre'), '') IS NOT NULL\n    AND NULLIF(btrim(item.value->>'email'), '') IS NOT NULL\n    AND NULLIF(btrim(item.value->>'password'), '') IS NOT NULL\n),\nexisting_new_users AS (\n  SELECT nba.nombre, nba.email, u.id AS user_id\n  FROM new_barber_access nba\n  JOIN public.usuarios u ON lower(u.email) = nba.email\n),\ninserted_new_users AS (\n  INSERT INTO public.usuarios (nombre, email, password_hash, role)\n  SELECT\n    nba.nombre,\n    nba.email,\n    crypt(nba.password, gen_salt('bf', 8)),\n    'barbero'\n  FROM new_barber_access nba\n  WHERE NOT EXISTS (\n    SELECT 1\n    FROM public.usuarios u\n    WHERE lower(u.email) = nba.email\n  )\n  RETURNING id AS user_id, nombre, email\n),\nresolved_new_users AS (\n  SELECT user_id, nombre, email FROM existing_new_users\n  UNION ALL\n  SELECT user_id, nombre, email FROM inserted_new_users\n),\nlinked_new_barbers AS (\n  UPDATE public.barberos br\n  SET usuario_id = rnu.user_id\n  FROM resolved_new_users rnu, validation v\n  WHERE v.code = 'ok'\n    AND br.barberia_id = v.target_id\n    AND lower(btrim(br.nombre)) = lower(btrim(rnu.nombre))\n    AND br.usuario_id IS NULL\n  RETURNING br.id, br.usuario_id\n)\nSELECT\n  CASE WHEN v.code = 'ok' THEN true ELSE false END AS ok,\n  CASE WHEN v.code = 'ok' THEN 'configuracion_actualizada' ELSE v.code END AS code,\n  CASE\n    WHEN v.code = 'ok' THEN 'Configuracion actualizada'\n    WHEN v.code = 'sesion_no_valida' THEN 'Sesion no valida'\n    WHEN v.code = 'sin_permiso' THEN 'No tienes permisos para editar esta barberia'\n    WHEN v.code = 'slug_mismatch' THEN 'El slug no coincide con la barberia solicitada'\n    WHEN v.code = 'barberia_no_encontrada' THEN 'Barberia no encontrada'\n    WHEN v.code = 'credenciales_barbero_nuevo_invalidas' THEN 'Los barberos nuevos requieren email valido y password de minimo 6 caracteres'\n    ELSE 'Datos invalidos'\n  END AS message,\n  CASE WHEN v.code = 'ok' THEN 200 WHEN v.code = 'sesion_no_valida' THEN 401 WHEN v.code IN ('sin_permiso', 'slug_mismatch') THEN 403 ELSE 400 END AS status_code,\n  CASE WHEN v.code = 'ok'\n    THEN jsonb_build_object(\n      'barberia', COALESCE(to_jsonb(ub), '{}'::jsonb),\n      'catalogs', (SELECT result FROM sync_catalogs LIMIT 1),\n      'hours', (SELECT result FROM sync_hours LIMIT 1),\n      'new_barber_users_linked', (SELECT count(*) FROM linked_new_barbers),\n      'owner_id_original', v.original_owner_id,\n      'owner_id_actual', COALESCE(ub.owner_id, v.original_owner_id)\n    )\n    ELSE NULL::jsonb\n  END AS data\nFROM validation v\nLEFT JOIN updated_barberia ub ON true;\n",
          "options": {
            "queryReplacement": "={{ $json.params }}"
          }
        },
        "id": "pg-update",
        "name": "Postgres - update configuracion",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.4,
        "position": [
          900,
          300
        ],
        "credentials": {
          "postgres": {
            "id": "SOV6oSyuHI9cxgLF",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "\nconst row = $input.first().json || {};\nreturn [{\n  json: {\n    status_code: Number(row.status_code || (row.ok ? 200 : 400)),\n    body: {\n      ok: !!row.ok,\n      code: row.code || (row.ok ? 'configuracion_actualizada' : 'datos_invalidos'),\n      message: row.message || '',\n      data: row.data || null\n    }\n  }\n}];\n",
          "notice": ""
        },
        "id": "format-response",
        "name": "Code - format response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1100,
          300
        ]
      },
      {
        "parameters": {
          "generalNotice": "",
          "respondWith": "json",
          "webhookNotice": "",
          "responseBody": "={{ $json.body }}",
          "options": {
            "responseCode": "={{ $json.status_code }}",
            "responseHeaders": {
              "entries": [
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "https://barberagency-barberagency.gymh5g.easypanel.host"
                },
                {
                  "name": "Access-Control-Allow-Methods",
                  "value": "POST, OPTIONS"
                },
                {
                  "name": "Access-Control-Allow-Headers",
                  "value": "Content-Type, Accept"
                },
                {
                  "name": "Access-Control-Allow-Credentials",
                  "value": "true"
                }
              ]
            }
          }
        },
        "id": "respond",
        "name": "Respond",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1300,
          300
        ]
      }
    ],
    "connections": {
      "Webhook - POST": {
        "main": [
          [
            {
              "node": "Code - parse request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - parse request": {
        "main": [
          [
            {
              "node": "JWT - Verify session",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "JWT - Verify session": {
        "main": [
          [
            {
              "node": "Code - prepare SQL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - prepare SQL": {
        "main": [
          [
            {
              "node": "Postgres - update configuracion",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Postgres - update configuracion": {
        "main": [
          [
            {
              "node": "Code - format response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - format response": {
        "main": [
          [
            {
              "node": "Respond",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "staticData": {},
    "pinData": null
  },
  "workflowVersionId": "decbd9f2-f08d-471e-a6cf-936e9d42096f",
  "customData": {}
}