pruebas/jsonn8nlogo_r2.json
{
  "name": "BarberAgency - Landing Upload v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "barberagency/landing/upload-live",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "7e7fd70a-8df1-4bbd-9ef4-d8a5ed98c6a1",
      "name": "Webhook - landing upload",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -416,
        0
      ],
      "webhookId": "941d7ccb-0277-4287-bd90-138443c3b389"
    },
    {
      "parameters": {
        "jsCode": "const first = $input.first();\nconst src = first.json || {};\nconst body = src.body && typeof src.body === 'object' ? src.body : src;\nconst binary = first.binary || {};\nconst keys = Object.keys(binary);\nif (!keys.length) throw new Error('No se recibio archivo en multipart/form-data (campo file).');\nconst field = keys[0];\nconst originalName = (binary[field]?.fileName || '').toString();\nconst extMatch = originalName.match(/\\.([a-zA-Z0-9]+)$/);\nconst extension = extMatch ? `.${extMatch[1].toLowerCase()}` : '.bin';\nconst objectKey = `logos/${field}-${$execution.id}${extension}`;\nreturn [{\n  json: {\n    slot: (body.slot ?? '').toString(),\n    template: (body.template ?? '').toString(),\n    uploaded_field: field,\n    object_key: objectKey,\n    original_name: originalName\n  },\n  binary: { upload: binary[field] }\n}];"
      },
      "id": "79fbe668-4e8a-4295-8788-97849ecc8157",
      "name": "Normalizar binary upload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        0
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "barberagency-assets",
        "binaryPropertyName": "upload",
        "fileName": "={{$json.object_key}}",
        "options": {
          "acl": "public-read"
        }
      },
      "id": "f6f345df-caf3-4c30-8b5a-71e430f31df7",
      "name": "Subir media R2",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        128,
        0
      ],
      "credentials": {
        "s3": {
          "id": "SELECT_IN_N8N",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "url",
              "value": "={{$json.url || $json.location || ''}}"
            },
            {
              "name": "source_url",
              "value": "={{$json.url || $json.location || ''}}"
            },
            {
              "name": "key",
              "value": "={{$json.key || $('Normalizar binary upload').first().json.object_key || ''}}"
            }
          ]
        },
        "options": {}
      },
      "id": "6e7e2231-5af5-4c8e-9b6a-d8f6adf5efab",
      "name": "Mapear URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        368,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: !!($json.url || $json.key || $json.success), url: $json.url || '', source_url: $json.source_url || '', key: $json.key || '', id: $json.id || '' } }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://barberagency-barberagency.gymh5g.easypanel.host"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "5dcd38c0-65f4-4be0-84cb-51995f369f58",
      "name": "Respond - upload",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        592,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - landing upload": {
      "main": [
        [
          {
            "node": "Normalizar binary upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar binary upload": {
      "main": [
        [
          {
            "node": "Subir media R2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subir media R2": {
      "main": [
        [
          {
            "node": "Mapear URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapear URL": {
      "main": [
        [
          {
            "node": "Respond - upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "b160cfeb-ceca-4b8e-a15b-81bfa0ab0aea",
  "meta": {
    "instanceId": "295b3dba6ce1cad81f849f485429b2ba98270f5448cdae94ca62976a67754d87"
  },
  "id": "qVFn42A4NP2VhEPm",
  "tags": []
}
