pruebas/publicar_workflow.json
{
  "updatedAt": "2026-06-05T00:48:05.997Z",
  "createdAt": "2026-06-05T00:48:05.997Z",
  "id": "Qeou40pYsQPg2ROK",
  "name": "BarberAgency - Dashboard Publicar Admin",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "barberagency/dashboard/publicar",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://barberagency-barberagency.gymh5g.easypanel.host"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Credentials",
                "value": "true"
              }
            ]
          }
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        100,
        300
      ],
      "webhookId": ""
    },
    {
      "parameters": {
        "jsCode": "const i = $input.first().json || {};\nconst h = i.headers || {};\nconst cookieHeader = (h.cookie ?? h.Cookie ?? '').toString();\nconst m = cookieHeader.match(/(?:^|;\\s*)ba_session=([^;]+)/);\nconst session_token = m ? m[1] : '';\nreturn [{ json: { session_token } }];"
      },
      "id": "parse-cookie",
      "name": "Code - parse cookie",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "operation": "verify",
        "token": "={{ $json.session_token }}",
        "options": {
          "algorithm": "HS256"
        }
      },
      "id": "verify-session",
      "name": "JWT - Verify session",
      "type": "n8n-nodes-base.jwt",
      "typeVersion": 1,
      "position": [
        500,
        300
      ],
      "credentials": {
        "jwtAuth": {
          "id": "mNWhzdM1ihAaBkZM",
          "name": "JWT Auth account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const i = $input.first().json || {};\nconst webhookData = $('Webhook').first().json || {};\nconst body = webhookData.body || {};\nconst auth_ok = !i.error && !!i.payload?.user_id;\nconst user_id = auth_ok ? Number(i.payload.user_id) : 0;\nconst barberia_id = Number(body.p_barberia_id ?? body.barberia_id ?? 0);\n\nconst params = [\n  JSON.stringify({ user_id }),\n  barberia_id\n];\n\nreturn [{ json: { \n  auth_ok, \n  user_id, \n  barberia_id,\n  params,\n  body\n} }];"
      },
      "id": "claims-input",
      "name": "Code - claims input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const i = $input.first().json || {};\nlet ok = false;\nlet status_code = 200;\nlet message = '';\n\nif (!i.auth_ok || i.user_id === 0) {\n  status_code = 401;\n  message = 'Sesion no valida';\n} else if (i.barberia_id === 0) {\n  status_code = 400;\n  message = 'Falta el ID de la barberia';\n} else {\n  ok = true;\n}\n\nreturn [{ json: { ok, status_code, message, params: i.params, barberia_id: i.barberia_id } }];"
      },
      "id": "check-validation",
      "name": "Check validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "caseSensitive": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "if-validation-ok",
      "name": "IF - Validation OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: false, message: $json.message } }}",
        "options": {
          "responseCode": "={{ $json.status_code }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://barberagency-barberagency.gymh5g.easypanel.host"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Credentials",
                "value": "true"
              }
            ]
          }
        }
      },
      "id": "respond-error",
      "name": "Respond - error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1300,
        450
      ]
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "executeQuery",
        "query": "SELECT set_config('request.jwt.claims', $1, true);\nSELECT public.ba_publicar_barberia($2) AS result;",
        "options": {
          "queryReplacement": "={{ $json.params }}"
        }
      },
      "id": "pg-execute-publish",
      "name": "Postgres - execute publish",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        150
      ],
      "credentials": {
        "postgres": {
          "id": "SOV6oSyuHI9cxgLF",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const items = $input.all();\nconst publishItem = items.find(item => item.json && item.json.result !== undefined);\nconst result = publishItem ? publishItem.json.result : null;\n\nif (!result) {\n  return [{ json: { ok: false, message: 'No se obtuvo respuesta de la base de datos', status_code: 500 } }];\n}\n\nif (result.ok === false) {\n  let status_code = 400;\n  if (result.error === 'no_autorizado_barberia_ajena' || result.error === 'no_autorizado_anonimo') {\n    status_code = 403;\n  } else if (result.error === 'barberia_no_encontrada') {\n    status_code = 404;\n  }\n  return [{ json: { ok: false, error: result.error, status_code } }];\n}\n\nreturn [{ json: { ...result, ok: true, status_code: 200 } }];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        150
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "caseSensitive": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "if-publish-ok",
      "name": "IF - Publish OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1700,
        150
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: false, error: $json.error || $json.message || 'Error desconocido' } }}",
        "options": {
          "responseCode": "={{ $json.status_code }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://barberagency-barberagency.gymh5g.easypanel.host"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Credentials",
                "value": "true"
              }
            ]
          }
        }
      },
      "id": "respond-error-db",
      "name": "Respond - error DB",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1900,
        250
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://barberagency-barberagency.gymh5g.easypanel.host"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Credentials",
                "value": "true"
              }
            ]
          }
        }
      },
      "id": "respond-ok",
      "name": "Respond - ok",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1900,
        50
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code - parse cookie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - parse cookie": {
      "main": [
        [
          {
            "node": "JWT - Verify session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT - Verify session": {
      "main": [
        [
          {
            "node": "Code - claims input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - claims input": {
      "main": [
        [
          {
            "node": "Check validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check validation": {
      "main": [
        [
          {
            "node": "IF - Validation OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Validation OK": {
      "main": [
        [
          {
            "node": "Postgres - execute publish",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - execute publish": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "IF - Publish OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Publish OK": {
      "main": [
        [
          {
            "node": "Respond - ok",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - error DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "607d4ed6-34f0-4f3b-8a58-ae5a1d9e7aff",
  "activeVersionId": "607d4ed6-34f0-4f3b-8a58-ae5a1d9e7aff",
  "versionCounter": 1,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-06-05T00:48:05.998Z",
      "createdAt": "2026-06-05T00:48:05.998Z",
      "role": "workflow:owner",
      "workflowId": "Qeou40pYsQPg2ROK",
      "projectId": "",
      "project": {
        "updatedAt": "2026-02-09T14:41:23.917Z",
        "createdAt": "2026-02-09T14:01:19.465Z",
        "id": "ajSDxUXg76Ss65zL",
        "name": "Carlos a Alvis <placeholder@example.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": ""
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-06-05T00:48:05.999Z",
    "createdAt": "2026-06-05T00:48:05.999Z",
    "versionId": "607d4ed6-34f0-4f3b-8a58-ae5a1d9e7aff",
    "workflowId": "Qeou40pYsQPg2ROK",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "barberagency/dashboard/publicar",
          "responseMode": "responseNode",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "https://barberagency-barberagency.gymh5g.easypanel.host"
                },
                {
                  "name": "Access-Control-Allow-Methods",
                  "value": "POST, OPTIONS"
                },
                {
                  "name": "Access-Control-Allow-Headers",
                  "value": "*"
                },
                {
                  "name": "Access-Control-Allow-Credentials",
                  "value": "true"
                }
              ]
            }
          }
        },
        "id": "webhook-trigger",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          100,
          300
        ],
        "webhookId": ""
      },
      {
        "parameters": {
          "jsCode": "const i = $input.first().json || {};\nconst h = i.headers || {};\nconst cookieHeader = (h.cookie ?? h.Cookie ?? '').toString();\nconst m = cookieHeader.match(/(?:^|;\\s*)ba_session=([^;]+)/);\nconst session_token = m ? m[1] : '';\nreturn [{ json: { session_token } }];"
        },
        "id": "parse-cookie",
        "name": "Code - parse cookie",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          300,
          300
        ]
      },
      {
        "parameters": {
          "operation": "verify",
          "token": "={{ $json.session_token }}",
          "options": {
            "algorithm": "HS256"
          }
        },
        "id": "verify-session",
        "name": "JWT - Verify session",
        "type": "n8n-nodes-base.jwt",
        "typeVersion": 1,
        "position": [
          500,
          300
        ],
        "credentials": {
          "jwtAuth": {
            "id": "mNWhzdM1ihAaBkZM",
            "name": "JWT Auth account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "const i = $input.first().json || {};\nconst webhookData = $('Webhook').first().json || {};\nconst body = webhookData.body || {};\nconst auth_ok = !i.error && !!i.payload?.user_id;\nconst user_id = auth_ok ? Number(i.payload.user_id) : 0;\nconst barberia_id = Number(body.p_barberia_id ?? body.barberia_id ?? 0);\n\nconst params = [\n  JSON.stringify({ user_id }),\n  barberia_id\n];\n\nreturn [{ json: { \n  auth_ok, \n  user_id, \n  barberia_id,\n  params,\n  body\n} }];"
        },
        "id": "claims-input",
        "name": "Code - claims input",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          700,
          300
        ]
      },
      {
        "parameters": {
          "jsCode": "const i = $input.first().json || {};\nlet ok = false;\nlet status_code = 200;\nlet message = '';\n\nif (!i.auth_ok || i.user_id === 0) {\n  status_code = 401;\n  message = 'Sesion no valida';\n} else if (i.barberia_id === 0) {\n  status_code = 400;\n  message = 'Falta el ID de la barberia';\n} else {\n  ok = true;\n}\n\nreturn [{ json: { ok, status_code, message, params: i.params, barberia_id: i.barberia_id } }];"
        },
        "id": "check-validation",
        "name": "Check validation",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          900,
          300
        ]
      },
      {
        "parameters": {
          "conditions": {
            "combinator": "and",
            "conditions": [
              {
                "leftValue": "={{ $json.ok }}",
                "rightValue": true,
                "caseSensitive": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ]
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "id": "if-validation-ok",
        "name": "IF - Validation OK",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1100,
          300
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ { ok: false, message: $json.message } }}",
          "options": {
            "responseCode": "={{ $json.status_code }}",
            "responseHeaders": {
              "entries": [
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "https://barberagency-barberagency.gymh5g.easypanel.host"
                },
                {
                  "name": "Access-Control-Allow-Methods",
                  "value": "POST, OPTIONS"
                },
                {
                  "name": "Access-Control-Allow-Headers",
                  "value": "*"
                },
                {
                  "name": "Access-Control-Allow-Credentials",
                  "value": "true"
                }
              ]
            }
          }
        },
        "id": "respond-error",
        "name": "Respond - error",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1300,
          450
        ]
      },
      {
        "parameters": {
          "resource": "database",
          "operation": "executeQuery",
          "query": "SELECT set_config('request.jwt.claims', $1, true);\nSELECT public.ba_publicar_barberia($2) AS result;",
          "options": {
            "queryReplacement": "={{ $json.params }}"
          }
        },
        "id": "pg-execute-publish",
        "name": "Postgres - execute publish",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.4,
        "position": [
          1300,
          150
        ],
        "credentials": {
          "postgres": {
            "id": "SOV6oSyuHI9cxgLF",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const items = $input.all();\nconst publishItem = items.find(item => item.json && item.json.result !== undefined);\nconst result = publishItem ? publishItem.json.result : null;\n\nif (!result) {\n  return [{ json: { ok: false, message: 'No se obtuvo respuesta de la base de datos', status_code: 500 } }];\n}\n\nif (result.ok === false) {\n  let status_code = 400;\n  if (result.error === 'no_autorizado_barberia_ajena' || result.error === 'no_autorizado_anonimo') {\n    status_code = 403;\n  } else if (result.error === 'barberia_no_encontrada') {\n    status_code = 404;\n  }\n  return [{ json: { ok: false, error: result.error, status_code } }];\n}\n\nreturn [{ json: { ...result, ok: true, status_code: 200 } }];"
        },
        "id": "format-response",
        "name": "Format Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1500,
          150
        ]
      },
      {
        "parameters": {
          "conditions": {
            "combinator": "and",
            "conditions": [
              {
                "leftValue": "={{ $json.ok }}",
                "rightValue": true,
                "caseSensitive": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ]
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "id": "if-publish-ok",
        "name": "IF - Publish OK",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1700,
          150
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ { ok: false, error: $json.error || $json.message || 'Error desconocido' } }}",
          "options": {
            "responseCode": "={{ $json.status_code }}",
            "responseHeaders": {
              "entries": [
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "https://barberagency-barberagency.gymh5g.easypanel.host"
                },
                {
                  "name": "Access-Control-Allow-Methods",
                  "value": "POST, OPTIONS"
                },
                {
                  "name": "Access-Control-Allow-Headers",
                  "value": "*"
                },
                {
                  "name": "Access-Control-Allow-Credentials",
                  "value": "true"
                }
              ]
            }
          }
        },
        "id": "respond-error-db",
        "name": "Respond - error DB",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1900,
          250
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {
            "responseCode": 200,
            "responseHeaders": {
              "entries": [
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "https://barberagency-barberagency.gymh5g.easypanel.host"
                },
                {
                  "name": "Access-Control-Allow-Methods",
                  "value": "POST, OPTIONS"
                },
                {
                  "name": "Access-Control-Allow-Headers",
                  "value": "*"
                },
                {
                  "name": "Access-Control-Allow-Credentials",
                  "value": "true"
                }
              ]
            }
          }
        },
        "id": "respond-ok",
        "name": "Respond - ok",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1900,
          50
        ]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Code - parse cookie",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - parse cookie": {
        "main": [
          [
            {
              "node": "JWT - Verify session",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "JWT - Verify session": {
        "main": [
          [
            {
              "node": "Code - claims input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - claims input": {
        "main": [
          [
            {
              "node": "Check validation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check validation": {
        "main": [
          [
            {
              "node": "IF - Validation OK",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF - Validation OK": {
        "main": [
          [
            {
              "node": "Postgres - execute publish",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond - error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Postgres - execute publish": {
        "main": [
          [
            {
              "node": "Format Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Response": {
        "main": [
          [
            {
              "node": "IF - Publish OK",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF - Publish OK": {
        "main": [
          [
            {
              "node": "Respond - ok",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond - error DB",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Carlos a Alvis",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-05T00:48:06.264Z",
        "id": 1579,
        "workflowId": "Qeou40pYsQPg2ROK",
        "versionId": "607d4ed6-34f0-4f3b-8a58-ae5a1d9e7aff",
        "event": "activated",
        "userId": "4ede7508-997a-4475-b2b8-9be2e3a6a415"
      }
    ]
  }
}