pruebas/recover_password_workflow.json
{
  "name": "BarberAgency - Recuperación de Contraseña",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "barberagency/dashboard/recover/request",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "webhook-request-recover",
      "name": "Webhook - Solicitud"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || {};\nreturn [{\n  json: {\n    email: (body.email || '').toString().trim().toLowerCase()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        0
      ],
      "id": "sanitize-email",
      "name": "Sanitizar Email"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "(SELECT id, nombre, email FROM public.usuarios WHERE lower(email) = $1 LIMIT 1) UNION ALL SELECT NULL, NULL, NULL WHERE NOT EXISTS (SELECT 1 FROM public.usuarios WHERE lower(email) = $1);",
        "options": {
          "queryReplacement": "={{ $json.email }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        400,
        0
      ],
      "id": "query-find-user",
      "name": "PG - Buscar Usuario",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "active-postgres-credentials"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "leftValueString": ""
          },
          "conditions": [
            {
              "id": "user-found",
              "leftValue": "={{ $json.id ? 'true' : 'false' }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        600,
        0
      ],
      "id": "if-user-exists",
      "name": "¿Usuario Existe?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.password_resets (usuario_id, expires_at) VALUES ($1, NOW() + INTERVAL '1 hour') RETURNING token;",
        "options": {
          "queryReplacement": "={{ $json.id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        800,
        -100
      ],
      "id": "query-create-token",
      "name": "PG - Crear Token",
      "credentials": {
        "postgres": {
          "id": "active-postgres-credentials"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "emailType": "html",
        "sendTo": "={{ $('Sanitizar Email').item.json.email }}",
        "subject": "Restablece tu contraseña - BarberAgency",
        "message": "=<h3>¡Hola {{ $('PG - Buscar Usuario').item.json.nombre }}!</h3><p>Recibimos una solicitud para restablecer la contraseña de tu panel en BarberAgency.</p><p>Para continuar, haz clic en el siguiente enlace de recuperación (válido por 1 hora):</p><p><a href=\"https://barberagency-app.gymh5g.easypanel.host/restablecer-password?token={{ $json.token }}\" style=\"display:inline-block;background:#d1a638;color:#000;padding:10px 20px;text-decoration:none;font-weight:bold;border-radius:6px;\">Restablecer Contraseña</a></p><p>Si no solicitaste este cambio, puedes ignorar este correo de forma segura.</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        1000,
        -100
      ],
      "id": "send-email-api",
      "name": "Enviar Correo (Gmail)",
      "credentials": {
        "gmailOAuth2": {
          "id": "sstksBWqT5wLy4dO"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"ok\": true,\n  \"message\": \"Si el correo ingresado coincide con un usuario registrado, recibirás un enlace para restablecer tu contraseña en los próximos minutos.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1250,
        0
      ],
      "id": "respond-success-request",
      "name": "Responder Éxito"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "barberagency/dashboard/recover/reset",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "id": "webhook-confirm-reset",
      "name": "Webhook - Confirmación"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || {};\nreturn [{\n  json: {\n    token: (body.token || '').toString().trim(),\n    new_password: (body.new_password || '').toString().trim()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "id": "sanitize-reset-payload",
      "name": "Sanitizar Payload"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "(SELECT usuario_id FROM public.password_resets WHERE token = $1::uuid AND expires_at > NOW() AND used_at IS NULL LIMIT 1) UNION ALL SELECT NULL WHERE NOT EXISTS (SELECT 1 FROM public.password_resets WHERE token = $1::uuid AND expires_at > NOW() AND used_at IS NULL);",
        "options": {
          "queryReplacement": "={{ $json.token }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        400,
        300
      ],
      "id": "query-validate-token",
      "name": "PG - Validar Token",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "active-postgres-credentials"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "leftValueString": ""
          },
          "conditions": [
            {
              "id": "token-valid",
              "leftValue": "={{ $json.usuario_id ? 'true' : 'false' }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        600,
        300
      ],
      "id": "if-token-valid",
      "name": "¿Token Válido?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.usuarios SET password_hash = public.fn_password_hash($1) WHERE id = $2;\nUPDATE public.password_resets SET used_at = NOW() WHERE token = $3::uuid;\nSELECT 'SUCCESS' AS status;",
        "options": {
          "queryReplacement": "={{ $('Sanitizar Payload').item.json.new_password }}, {{ $json.usuario_id }}, {{ $('Sanitizar Payload').item.json.token }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        800,
        200
      ],
      "id": "query-update-password",
      "name": "PG - Actualizar Clave",
      "credentials": {
        "postgres": {
          "id": "active-postgres-credentials"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"ok\": true,\n  \"message\": \"Tu contraseña ha sido restablecida correctamente. Ya puedes iniciar sesión con tu nueva contraseña.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1000,
        200
      ],
      "id": "respond-success-reset",
      "name": "Responder Éxito Reset"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"ok\": false,\n  \"message\": \"El token de recuperación es inválido, ya fue utilizado o ha expirado. Por favor, solicita un nuevo enlace.\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        800,
        400
      ],
      "id": "respond-error-token",
      "name": "Responder Error Token"
    }
  ],
  "connections": {
    "Webhook - Solicitud": {
      "main": [
        [
          {
            "node": "Sanitizar Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitizar Email": {
      "main": [
        [
          {
            "node": "PG - Buscar Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG - Buscar Usuario": {
      "main": [
        [
          {
            "node": "¿Usuario Existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Usuario Existe?": {
      "main": [
        [
          {
            "node": "PG - Crear Token",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Éxito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG - Crear Token": {
      "main": [
        [
          {
            "node": "Enviar Correo (Gmail)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Correo (Gmail)": {
      "main": [
        [
          {
            "node": "Responder Éxito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Confirmación": {
      "main": [
        [
          {
            "node": "Sanitizar Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitizar Payload": {
      "main": [
        [
          {
            "node": "PG - Validar Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG - Validar Token": {
      "main": [
        [
          {
            "node": "¿Token Válido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Token Válido?": {
      "main": [
        [
          {
            "node": "PG - Actualizar Clave",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Error Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG - Actualizar Clave": {
      "main": [
        [
          {
            "node": "Responder Éxito Reset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {}
}
