pruebas/reservas_slots_workflow.json
{
  "updatedAt": "2026-05-28T21:29:47.390Z",
  "createdAt": "2026-05-27T21:15:49.250Z",
  "id": "sX5R13YbZ6gPoPo8",
  "name": "BarberAgency - Reservas Slots",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "barberagency/reservas/slots",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-reservas-slots",
      "name": "Webhook - reservas slots",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        100,
        300
      ],
      "webhookId": ""
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const query = $input.first().json.query || {};\nconst toInt = (value) => {\n  const n = Number(value);\n  return Number.isFinite(n) && n > 0 ? Math.trunc(n) : null;\n};\nconst clean = (value) => String(value ?? '').trim();\n\nconst barberia_id = toInt(query.barberia_id || query.id_barberia);\nconst slug = clean(query.slug);\nconst servicio_id = toInt(query.servicio_id || query.id_servicio);\nconst barbero_id = toInt(query.barbero_id || query.id_barbero);\nconst fecha = clean(query.fecha || query.date);\n\nif ((!barberia_id && !slug) || !servicio_id || !/^\\d{4}-\\d{2}-\\d{2}$/.test(fecha)) {\n  return [{\n    json: {\n      ok: false,\n      code: 'datos_invalidos',\n      status_code: 400,\n      message: 'Faltan barberia_id o slug, servicio_id y fecha valida.',\n      data: { barberia_id, slug, servicio_id, barbero_id, fecha }\n    }\n  }];\n}\n\nreturn [{ json: { ok: true, barberia_id, slug: slug || null, servicio_id, barbero_id, fecha } }];"
      },
      "id": "code-normalize-slots-query",
      "name": "Normalize query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "if-valid-query",
      "name": "IF - query valida",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        540,
        300
      ]
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "executeQuery",
        "query": "SELECT public.ba_reservas_public_slots(\n  $1::int,\n  $2::text,\n  $3::int,\n  $4::int,\n  $5::date\n) AS result;",
        "options": {
          "queryReplacement": "={{ [$json.barberia_id, $json.slug, $json.servicio_id, $json.barbero_id, $json.fecha] }}"
        }
      },
      "id": "pg-fetch-slots",
      "name": "PG - Fetch Slots",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        780,
        220
      ],
      "credentials": {
        "postgres": {
          "id": "SOV6oSyuHI9cxgLF",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const first = $input.first().json || {};\nif (first.error) {\n  return [{\n    json: {\n      ok: false,\n      code: 'error_postgres',\n      message: first.error.message || 'Error consultando disponibilidad en PostgreSQL.',\n      barberia_id: null,\n      slug: null,\n      servicio_id: null,\n      barbero_id: null,\n      fecha: null,\n      slot_min: null,\n      duracion_min: null,\n      count: 0,\n      slots: [],\n      status_code: 500,\n      data: { error: first.error.message || first.error }\n    }\n  }];\n}\nconst result = first.result || first.ba_reservas_public_slots || first;\nconst data = result.data || {};\nreturn [{\n  json: {\n    ok: Boolean(result.ok),\n    code: result.code || (result.ok ? 'slots_disponibles' : 'datos_invalidos'),\n    message: result.message || '',\n    barberia_id: data.barberia_id ?? null,\n    slug: data.slug ?? null,\n    servicio_id: data.servicio_id ?? null,\n    barbero_id: data.barbero_id ?? null,\n    fecha: data.fecha ?? null,\n    slot_min: data.slot_min ?? null,\n    duracion_min: data.duracion_min ?? null,\n    count: Number(data.count || 0),\n    slots: Array.isArray(data.slots) ? data.slots : [],\n    data\n  }\n}];"
      },
      "id": "code-format-slots",
      "name": "Format slots",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        220
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.status_code || ($json.ok ? 200 : 400) }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-ok",
      "name": "Respond - ok",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1240,
        220
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.status_code || 400 }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-error",
      "name": "Respond - error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        780,
        420
      ]
    }
  ],
  "connections": {
    "Webhook - reservas slots": {
      "main": [
        [
          {
            "node": "Normalize query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize query": {
      "main": [
        [
          {
            "node": "IF - query valida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - query valida": {
      "main": [
        [
          {
            "node": "PG - Fetch Slots",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG - Fetch Slots": {
      "main": [
        [
          {
            "node": "Format slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format slots": {
      "main": [
        [
          {
            "node": "Respond - ok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "0892bd78-8f21-47ee-b678-b54ff89e221b",
  "activeVersionId": "0892bd78-8f21-47ee-b678-b54ff89e221b",
  "versionCounter": 11,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-27T21:15:49.256Z",
      "createdAt": "2026-05-27T21:15:49.256Z",
      "role": "workflow:owner",
      "workflowId": "sX5R13YbZ6gPoPo8",
      "projectId": "",
      "project": {
        "updatedAt": "2026-02-09T14:41:23.917Z",
        "createdAt": "2026-02-09T14:01:19.465Z",
        "id": "ajSDxUXg76Ss65zL",
        "name": "Carlos a Alvis <placeholder@example.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": ""
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-05-28T21:29:47.391Z",
    "createdAt": "2026-05-28T21:29:47.391Z",
    "versionId": "0892bd78-8f21-47ee-b678-b54ff89e221b",
    "workflowId": "sX5R13YbZ6gPoPo8",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "GET",
          "path": "barberagency/reservas/slots",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "webhook-reservas-slots",
        "name": "Webhook - reservas slots",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1.1,
        "position": [
          100,
          300
        ],
        "webhookId": ""
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "\n            const query = $input.first().json.query || {};\n            const toInt = (value) => {\n              const n = Number(value);\n              return Number.isFinite(n) && n > 0 ? Math.trunc(n) : null;\n            };\n            const clean = (value) => String(value ?? '').trim();\n            const barberia_id = toInt(query.barberia_id || query.id_barberia);\n            const barbero_id = toInt(query.barbero_id || query.id_barbero);\n            const fecha = clean(query.fecha || query.date);\n\n            if (!barberia_id || !/^\\d{4}-\\d{2}-\\d{2}$/.test(fecha)) {\n              return [{\n                json: {\n                  ok: false,\n                  status_code: 400,\n                  message: 'Faltan barberia_id o fecha valida para consultar disponibilidad.',\n                  barberia_id,\n                  barbero_id,\n                  fecha\n                }\n              }];\n            }\n\n            return [{ json: { ok: true, barberia_id, barbero_id, fecha } }];\n          "
        },
        "id": "code-normalize-slots-query",
        "name": "Normalize query",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          320,
          300
        ]
      },
      {
        "parameters": {
          "conditions": {
            "combinator": "and",
            "conditions": [
              {
                "leftValue": "={{ $json.ok }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ]
          },
          "options": {}
        },
        "id": "if-valid-query",
        "name": "IF - query valida",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          540,
          300
        ]
      },
      {
        "parameters": {
          "resource": "database",
          "operation": "executeQuery",
          "query": "\n            SELECT\n              barberia_id,\n              barbero_id,\n              fecha,\n              hora_inicio,\n              hora_fin\n            FROM public.v_slots_disponibles\n            WHERE barberia_id = $1\n              AND fecha = $2::date\n              AND ($3::int IS NULL OR barbero_id = $3::int)\n              AND (\n                fecha > (now() AT TIME ZONE 'America/Bogota')::date\n                OR hora_inicio > (now() AT TIME ZONE 'America/Bogota')::time\n              )\n            ORDER BY barbero_id ASC, hora_inicio ASC;\n          ",
          "options": {
            "queryReplacement": "={{ [$json.barberia_id, $json.fecha, $json.barbero_id] }}"
          }
        },
        "id": "pg-fetch-slots",
        "name": "PG - Fetch Slots",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.4,
        "position": [
          780,
          220
        ],
        "credentials": {
          "postgres": {
            "id": "SOV6oSyuHI9cxgLF",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "\n    const validRows = $input.all()\n      .map((item) => item.json || {})\n      .filter((row) =>\n        Number(row.barberia_id) > 0 &&\n        Number(row.barbero_id) > 0 &&\n        String(row.fecha || '').trim() &&\n        String(row.hora_inicio || '').trim()\n      );\n\n    const first = validRows[0] || {};\n    const slots = validRows.map((row) => ({\n      barberia_id: Number(row.barberia_id),\n      barbero_id: Number(row.barbero_id),\n      fecha: String(row.fecha || '').slice(0, 10),\n      hora_inicio: String(row.hora_inicio || '').slice(0, 5),\n      hora_fin: String(row.hora_fin || '').slice(0, 5)\n    }));\n\n    return [{\n      json: {\n        ok: true,\n        barberia_id: Number(first.barberia_id || 0) || null,\n        fecha: String(first.fecha || '').slice(0, 10) || null,\n        count: slots.length,\n        slots\n      }\n    }];\n  "
        },
        "id": "code-format-slots",
        "name": "Format slots",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1020,
          220
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {
            "responseCode": 200,
            "responseHeaders": {
              "entries": [
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "*"
                },
                {
                  "name": "Access-Control-Allow-Methods",
                  "value": "GET, OPTIONS"
                },
                {
                  "name": "Access-Control-Allow-Headers",
                  "value": "*"
                }
              ]
            }
          }
        },
        "id": "respond-ok",
        "name": "Respond - ok",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1240,
          220
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {
            "responseCode": "={{ $json.status_code || 400 }}",
            "responseHeaders": {
              "entries": [
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "*"
                },
                {
                  "name": "Access-Control-Allow-Methods",
                  "value": "GET, OPTIONS"
                },
                {
                  "name": "Access-Control-Allow-Headers",
                  "value": "*"
                }
              ]
            }
          }
        },
        "id": "respond-error",
        "name": "Respond - error",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          780,
          420
        ]
      }
    ],
    "connections": {
      "Webhook - reservas slots": {
        "main": [
          [
            {
              "node": "Normalize query",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize query": {
        "main": [
          [
            {
              "node": "IF - query valida",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF - query valida": {
        "main": [
          [
            {
              "node": "PG - Fetch Slots",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond - error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PG - Fetch Slots": {
        "main": [
          [
            {
              "node": "Format slots",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format slots": {
        "main": [
          [
            {
              "node": "Respond - ok",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Carlos a Alvis",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-28T21:29:47.468Z",
        "id": 1233,
        "workflowId": "sX5R13YbZ6gPoPo8",
        "versionId": "0892bd78-8f21-47ee-b678-b54ff89e221b",
        "event": "activated",
        "userId": "4ede7508-997a-4475-b2b8-9be2e3a6a415"
      },
      {
        "createdAt": "2026-05-28T21:29:47.433Z",
        "id": 1232,
        "workflowId": "sX5R13YbZ6gPoPo8",
        "versionId": "0892bd78-8f21-47ee-b678-b54ff89e221b",
        "event": "deactivated",
        "userId": "4ede7508-997a-4475-b2b8-9be2e3a6a415"
      }
    ]
  }
}