pruebas/reservas_save_workflow.json
{
  "updatedAt": "2026-06-05T01:26:51.212Z",
  "createdAt": "2026-03-16T20:50:12.426Z",
  "id": "bl8JLdC5VOsC9zdu",
  "name": "BarberAgency - Reservas Save v1",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "barberagency/reservas/create",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d8fcc6f3-693b-4d54-b057-a3e64ad54827",
      "name": "Webhook - reservas",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1856,
        512
      ],
      "webhookId": ""
    },
    {
      "parameters": {
        "jsCode": "const src = $json && typeof $json === 'object' ? $json : {};\nlet body = src.body && typeof src.body === 'object' ? src.body : src;\nif (typeof body.payload === 'string') {\n  try { body = JSON.parse(body.payload); } catch (_) {}\n}\nif (body.payload && typeof body.payload === 'object') body = body.payload;\n\nconst clean = (value) => String(value ?? '').trim();\nconst toInt = (value) => {\n  const n = Number(value);\n  return Number.isFinite(n) && n > 0 ? Math.trunc(n) : null;\n};\n\nconst cf = body.clientes_finales && typeof body.clientes_finales === 'object' ? body.clientes_finales : {};\nconst c = body.citas && typeof body.citas === 'object' ? body.citas : {};\n\nconst payload = {\n  barberia_id: toInt(c.barberia_id || c.id_barberia || body.barberia_id || body.id_barberia),\n  slug: clean(c.slug || body.slug),\n  servicio_id: toInt(c.servicio_id || c.id_servicio || body.servicio_id || body.id_servicio),\n  barbero_id: toInt(c.barbero_id || c.id_barbero || body.barbero_id || body.id_barbero),\n  fecha: clean(c.fecha || body.fecha),\n  hora: clean(c.hora || c.hora_inicio || body.hora || body.hora_inicio),\n  cliente_nombre: clean(cf.nombre || cf.nombre_completo || body.cliente_nombre || body.nombre),\n  cliente_tel: clean(cf.telefono || cf.celular || body.cliente_tel || body.telefono),\n  cliente_email: clean(cf.email || body.cliente_email || body.email),\n  notas: clean(c.notas || body.notas)\n};\n\nif ((!payload.barberia_id && !payload.slug) || !payload.servicio_id || !payload.barbero_id || !payload.fecha || !payload.hora || !payload.cliente_nombre || !payload.cliente_tel) {\n  return [{\n    json: {\n      ok: false,\n      code: 'datos_invalidos',\n      status_code: 400,\n      message: 'Faltan datos obligatorios para reservar.',\n      data: payload\n    }\n  }];\n}\n\nreturn [{ json: { ok: true, payload } }];"
      },
      "id": "f9a43487-4789-493a-ba47-5df7160b4808",
      "name": "Normalize payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2096,
        512
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "a1ef2199-0e9b-404a-8222-ea1b94c36f87",
      "name": "IF - payload valido",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2336,
        512
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT public.ba_reservas_public_create(\n  $1::int,\n  $2::text,\n  $3::int,\n  $4::int,\n  $5::date,\n  $6::time,\n  $7::text,\n  $8::text,\n  $9::text,\n  $10::text\n) AS result;",
        "options": {
          "queryReplacement": "={{ [$json.payload.barberia_id, $json.payload.slug || null, $json.payload.servicio_id, $json.payload.barbero_id, $json.payload.fecha, $json.payload.hora, $json.payload.cliente_nombre, $json.payload.cliente_tel, $json.payload.cliente_email || null, $json.payload.notas || null] }}"
        }
      },
      "id": "babf106a-364c-4f96-8c8d-6755bbdc1aca",
      "name": "PG - RPC crear reserva",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2592,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "SOV6oSyuHI9cxgLF",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const first = $input.first().json || {};\nif (first.error) {\n  return [{\n    json: {\n      ok: false,\n      code: 'error_postgres',\n      message: first.error.message || 'Error creando reserva en PostgreSQL.',\n      data: { error: first.error.message || first.error },\n      status_code: 500\n    }\n  }];\n}\nconst result = first.result || first.ba_reservas_public_create || first;\nreturn [{\n  json: {\n    ok: Boolean(result.ok),\n    code: result.code || (result.ok ? 'reserva_creada' : 'datos_invalidos'),\n    message: result.message || '',\n    data: result.data || {},\n    status_code: result.ok ? 200 : 400\n  }\n}];"
      },
      "id": "e5d21c06-26e6-4cec-871f-3f93541ff336",
      "name": "Format RPC reserva",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2864,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "6f1bb8dc-f93a-4cba-adff-18d60af059a1",
      "name": "IF - RPC ok",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3120,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  c.id as cita_id,\n  c.barberia_id,\n  b.slug,\n  c.cliente_nombre,\n  c.cliente_tel,\n  to_char(c.fecha, 'YYYY-MM-DD') as fecha,\n  to_char(c.hora_inicio, 'HH24:MI') as hora_inicio,\n  to_char(c.hora_fin, 'HH24:MI') as hora_fin,\n  s.id as servicio_id,\n  s.nombre as servicio_nombre,\n  s.precio as servicio_precio,\n  s.duracion_min as servicio_duracion_min,\n  bar.id as barbero_id,\n  bar.nombre as barbero_nombre,\n  b.nombre as barberia_nombre,\n  b.direccion as barberia_direccion,\n  b.ciudad as barberia_ciudad,\n  p.maps_url as barberia_maps_url\nFROM public.citas c\nJOIN public.barberias b ON c.barberia_id = b.id\nLEFT JOIN public.barberia_public_profiles p ON c.barberia_id = p.barberia_id\nLEFT JOIN public.servicios s ON c.servicio_id = s.id\nLEFT JOIN public.barberos bar ON c.barbero_id = bar.id\nWHERE c.id = $1;",
        "options": {
          "queryReplacement": "={{ [$json.data.cita_id] }}"
        }
      },
      "id": "c0387aa3-2463-47f6-b201-b86de4b78633",
      "name": "PG - obtener cita confirmada",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        3360,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "SOV6oSyuHI9cxgLF",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.status_code || ($json.ok ? 200 : 400) }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "7b75e90a-8a53-4d59-8b48-6bbdc016d740",
      "name": "Respond - ok",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3840,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ Number($json.status_code || 400) }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "8b4b2dfe-a2f5-4537-b711-af6f64fb2e1d",
      "name": "Respond - error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3360,
        624
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const first = $input.first().json || {};\nreturn [{\n  json: {\n    ok: true,\n    cita_confirmada: {\n      cita_id: Number(first.cita_id),\n      barberia_id: Number(first.barberia_id),\n      slug: first.slug || '',\n      cliente_nombre: first.cliente_nombre || '',\n      cliente_tel: first.cliente_tel || '',\n      fecha: first.fecha || '',\n      hora_inicio: first.hora_inicio || '',\n      hora_fin: first.hora_fin || '',\n      servicio: {\n        id: Number(first.servicio_id),\n        nombre: first.servicio_nombre || '',\n        precio: Number(first.servicio_precio || 0),\n        duracion_min: Number(first.servicio_duracion_min || 0)\n      },\n      barbero: {\n        id: Number(first.barbero_id),\n        nombre: first.barbero_nombre || ''\n      },\n      barberia: {\n        nombre: first.barberia_nombre || '',\n        direccion: first.barberia_direccion || '',\n        ciudad: first.barberia_ciudad || '',\n        maps_url: first.barberia_maps_url || null\n      }\n    }\n  }\n}];"
      },
      "id": "6f2c3d5a-1a2b-3c4d-5e6f-7a8b9c0d1e2f",
      "name": "Format Cita Confirmada",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3600,
        400
      ]
    }
  ],
  "connections": {
    "Webhook - reservas": {
      "main": [
        [
          {
            "node": "Normalize payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize payload": {
      "main": [
        [
          {
            "node": "IF - payload valido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - payload valido": {
      "main": [
        [
          {
            "node": "PG - RPC crear reserva",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG - RPC crear reserva": {
      "main": [
        [
          {
            "node": "Format RPC reserva",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format RPC reserva": {
      "main": [
        [
          {
            "node": "IF - RPC ok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - RPC ok": {
      "main": [
        [
          {
            "node": "PG - obtener cita confirmada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG - obtener cita confirmada": {
      "main": [
        [
          {
            "node": "Format Cita Confirmada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Cita Confirmada": {
      "main": [
        [
          {
            "node": "Respond - ok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": {},
  "versionId": "d8db2870-9851-48a3-bf8c-8cd81bee849a",
  "activeVersionId": "d8db2870-9851-48a3-bf8c-8cd81bee849a",
  "versionCounter": 1026,
  "triggerCount": 1,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-03-16T20:50:12.431Z",
      "createdAt": "2026-03-16T20:50:12.431Z",
      "role": "workflow:owner",
      "workflowId": "bl8JLdC5VOsC9zdu",
      "projectId": "",
      "project": {
        "updatedAt": "2026-02-09T14:41:23.917Z",
        "createdAt": "2026-02-09T14:01:19.465Z",
        "id": "ajSDxUXg76Ss65zL",
        "name": "Carlos a Alvis <placeholder@example.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": ""
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-06-05T01:26:51.213Z",
    "createdAt": "2026-06-05T01:26:51.213Z",
    "versionId": "d8db2870-9851-48a3-bf8c-8cd81bee849a",
    "workflowId": "bl8JLdC5VOsC9zdu",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "barberagency/reservas/create",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "d8fcc6f3-693b-4d54-b057-a3e64ad54827",
        "name": "Webhook - reservas",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          1856,
          512
        ],
        "webhookId": ""
      },
      {
        "parameters": {
          "jsCode": "const src = $json && typeof $json === 'object' ? $json : {};\nlet body = src.body && typeof src.body === 'object' ? src.body : src;\nif (typeof body.payload === 'string') {\n  try { body = JSON.parse(body.payload); } catch (_) {}\n}\nif (body.payload && typeof body.payload === 'object') body = body.payload;\n\nconst clean = (value) => String(value ?? '').trim();\nconst toInt = (value) => {\n  const n = Number(value);\n  return Number.isFinite(n) && n > 0 ? Math.trunc(n) : null;\n};\n\nconst cf = body.clientes_finales && typeof body.clientes_finales === 'object' ? body.clientes_finales : {};\nconst c = body.citas && typeof body.citas === 'object' ? body.citas : {};\n\nconst payload = {\n  barberia_id: toInt(c.barberia_id || c.id_barberia || body.barberia_id || body.id_barberia),\n  slug: clean(c.slug || body.slug),\n  servicio_id: toInt(c.servicio_id || c.id_servicio || body.servicio_id || body.id_servicio),\n  barbero_id: toInt(c.barbero_id || c.id_barbero || body.barbero_id || body.id_barbero),\n  fecha: clean(c.fecha || body.fecha),\n  hora: clean(c.hora || c.hora_inicio || body.hora || body.hora_inicio),\n  cliente_nombre: clean(cf.nombre || cf.nombre_completo || body.cliente_nombre || body.nombre),\n  cliente_tel: clean(cf.telefono || cf.celular || body.cliente_tel || body.telefono),\n  cliente_email: clean(cf.email || body.cliente_email || body.email),\n  notas: clean(c.notas || body.notas)\n};\n\nif ((!payload.barberia_id && !payload.slug) || !payload.servicio_id || !payload.barbero_id || !payload.fecha || !payload.hora || !payload.cliente_nombre || !payload.cliente_tel) {\n  return [{\n    json: {\n      ok: false,\n      code: 'datos_invalidos',\n      status_code: 400,\n      message: 'Faltan datos obligatorios para reservar.',\n      data: payload\n    }\n  }];\n}\n\nreturn [{ json: { ok: true, payload } }];"
        },
        "id": "f9a43487-4789-493a-ba47-5df7160b4808",
        "name": "Normalize payload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2096,
          512
        ]
      },
      {
        "parameters": {
          "conditions": {
            "combinator": "and",
            "conditions": [
              {
                "leftValue": "={{ $json.ok }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ]
          },
          "options": {}
        },
        "id": "a1ef2199-0e9b-404a-8222-ea1b94c36f87",
        "name": "IF - payload valido",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          2336,
          512
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT public.ba_reservas_public_create(\n  $1::int,\n  $2::text,\n  $3::int,\n  $4::int,\n  $5::date,\n  $6::time,\n  $7::text,\n  $8::text,\n  $9::text,\n  $10::text\n) AS result;",
          "options": {
            "queryReplacement": "={{ [$json.payload.barberia_id, $json.payload.slug || null, $json.payload.servicio_id, $json.payload.barbero_id, $json.payload.fecha, $json.payload.hora, $json.payload.cliente_nombre, $json.payload.cliente_tel, $json.payload.cliente_email || null, $json.payload.notas || null] }}"
          }
        },
        "id": "babf106a-364c-4f96-8c8d-6755bbdc1aca",
        "name": "PG - RPC crear reserva",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.4,
        "position": [
          2592,
          400
        ],
        "credentials": {
          "postgres": {
            "id": "SOV6oSyuHI9cxgLF",
            "name": "Postgres account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "const first = $input.first().json || {};\nif (first.error) {\n  return [{\n    json: {\n      ok: false,\n      code: 'error_postgres',\n      message: first.error.message || 'Error creando reserva en PostgreSQL.',\n      data: { error: first.error.message || first.error },\n      status_code: 500\n    }\n  }];\n}\nconst result = first.result || first.ba_reservas_public_create || first;\nreturn [{\n  json: {\n    ok: Boolean(result.ok),\n    code: result.code || (result.ok ? 'reserva_creada' : 'datos_invalidos'),\n    message: result.message || '',\n    data: result.data || {},\n    status_code: result.ok ? 200 : 400\n  }\n}];"
        },
        "id": "e5d21c06-26e6-4cec-871f-3f93541ff336",
        "name": "Format RPC reserva",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2864,
          400
        ]
      },
      {
        "parameters": {
          "conditions": {
            "combinator": "and",
            "conditions": [
              {
                "leftValue": "={{ $json.ok }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ]
          },
          "options": {}
        },
        "id": "6f1bb8dc-f93a-4cba-adff-18d60af059a1",
        "name": "IF - RPC ok",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          3120,
          400
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT \n  c.id as cita_id,\n  c.barberia_id,\n  b.slug,\n  c.cliente_nombre,\n  c.cliente_tel,\n  to_char(c.fecha, 'YYYY-MM-DD') as fecha,\n  to_char(c.hora_inicio, 'HH24:MI') as hora_inicio,\n  to_char(c.hora_fin, 'HH24:MI') as hora_fin,\n  s.id as servicio_id,\n  s.nombre as servicio_nombre,\n  s.precio as servicio_precio,\n  s.duracion_min as servicio_duracion_min,\n  bar.id as barbero_id,\n  bar.nombre as barbero_nombre,\n  b.nombre as barberia_nombre,\n  b.direccion as barberia_direccion,\n  b.ciudad as barberia_ciudad,\n  p.maps_url as barberia_maps_url\nFROM public.citas c\nJOIN public.barberias b ON c.barberia_id = b.id\nLEFT JOIN public.barberia_public_profiles p ON c.barberia_id = p.barberia_id\nLEFT JOIN public.servicios s ON c.servicio_id = s.id\nLEFT JOIN public.barberos bar ON c.barbero_id = bar.id\nWHERE c.id = $1;",
          "options": {
            "queryReplacement": "={{ [$json.data.cita_id] }}"
          }
        },
        "id": "c0387aa3-2463-47f6-b201-b86de4b78633",
        "name": "PG - obtener cita confirmada",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.4,
        "position": [
          3360,
          400
        ],
        "credentials": {
          "postgres": {
            "id": "SOV6oSyuHI9cxgLF",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {
            "responseCode": "={{ $json.status_code || ($json.ok ? 200 : 400) }}",
            "responseHeaders": {
              "entries": [
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "*"
                },
                {
                  "name": "Access-Control-Allow-Methods",
                  "value": "POST, OPTIONS"
                },
                {
                  "name": "Access-Control-Allow-Headers",
                  "value": "*"
                }
              ]
            }
          }
        },
        "id": "7b75e90a-8a53-4d59-8b48-6bbdc016d740",
        "name": "Respond - ok",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          3840,
          400
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {
            "responseCode": "={{ Number($json.status_code || 400) }}",
            "responseHeaders": {
              "entries": [
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "*"
                },
                {
                  "name": "Access-Control-Allow-Methods",
                  "value": "POST, OPTIONS"
                },
                {
                  "name": "Access-Control-Allow-Headers",
                  "value": "*"
                }
              ]
            }
          }
        },
        "id": "8b4b2dfe-a2f5-4537-b711-af6f64fb2e1d",
        "name": "Respond - error",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          3360,
          624
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const first = $input.first().json || {};\nreturn [{\n  json: {\n    ok: true,\n    cita_confirmada: {\n      cita_id: Number(first.cita_id),\n      barberia_id: Number(first.barberia_id),\n      slug: first.slug || '',\n      cliente_nombre: first.cliente_nombre || '',\n      cliente_tel: first.cliente_tel || '',\n      fecha: first.fecha || '',\n      hora_inicio: first.hora_inicio || '',\n      hora_fin: first.hora_fin || '',\n      servicio: {\n        id: Number(first.servicio_id),\n        nombre: first.servicio_nombre || '',\n        precio: Number(first.servicio_precio || 0),\n        duracion_min: Number(first.servicio_duracion_min || 0)\n      },\n      barbero: {\n        id: Number(first.barbero_id),\n        nombre: first.barbero_nombre || ''\n      },\n      barberia: {\n        nombre: first.barberia_nombre || '',\n        direccion: first.barberia_direccion || '',\n        ciudad: first.barberia_ciudad || '',\n        maps_url: first.barberia_maps_url || null\n      }\n    }\n  }\n}];"
        },
        "id": "6f2c3d5a-1a2b-3c4d-5e6f-7a8b9c0d1e2f",
        "name": "Format Cita Confirmada",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3600,
          400
        ]
      }
    ],
    "connections": {
      "Webhook - reservas": {
        "main": [
          [
            {
              "node": "Normalize payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize payload": {
        "main": [
          [
            {
              "node": "IF - payload valido",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF - payload valido": {
        "main": [
          [
            {
              "node": "PG - RPC crear reserva",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond - error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PG - RPC crear reserva": {
        "main": [
          [
            {
              "node": "Format RPC reserva",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format RPC reserva": {
        "main": [
          [
            {
              "node": "IF - RPC ok",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF - RPC ok": {
        "main": [
          [
            {
              "node": "PG - obtener cita confirmada",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond - error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PG - obtener cita confirmada": {
        "main": [
          [
            {
              "node": "Format Cita Confirmada",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Cita Confirmada": {
        "main": [
          [
            {
              "node": "Respond - ok",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Carlos a Alvis",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-05T01:26:51.250Z",
        "id": 1633,
        "workflowId": "bl8JLdC5VOsC9zdu",
        "versionId": "d8db2870-9851-48a3-bf8c-8cd81bee849a",
        "event": "activated",
        "userId": "4ede7508-997a-4475-b2b8-9be2e3a6a415"
      },
      {
        "createdAt": "2026-06-05T01:26:51.242Z",
        "id": 1632,
        "workflowId": "bl8JLdC5VOsC9zdu",
        "versionId": "d8db2870-9851-48a3-bf8c-8cd81bee849a",
        "event": "deactivated",
        "userId": "4ede7508-997a-4475-b2b8-9be2e3a6a415"
      }
    ]
  }
}