pruebas/servicios_workflow.json
{
  "updatedAt": "2026-06-04T23:32:17.290Z",
  "createdAt": "2026-06-04T23:16:14.548Z",
  "id": "mYdeHfxzpWfOxYIv",
  "name": "BarberAgency - Dashboard Servicios Admin",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "barberagency/dashboard/servicios",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://barberagency-barberagency.gymh5g.easypanel.host"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Credentials",
                "value": "true"
              }
            ]
          }
        }
      },
      "id": "e2a90c5c-9c88-4f81-ba09-32216cfa8827",
      "name": "Webhook - Servicios Admin",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        100,
        300
      ],
      "webhookId": "7270c20c-374e-4e07-ae6e-595721fb10a5"
    },
    {
      "parameters": {
        "jsCode": "const i = $input.first().json || {};\nconst h = i.headers || {};\nconst cookieHeader = (h.cookie ?? h.Cookie ?? '').toString();\nconst m = cookieHeader.match(/(?:^|;\\s*)ba_session=([^;]+)/);\nconst session_token = m ? m[1] : '';\nreturn [{ json: { session_token } }];"
      },
      "id": "c0228beb-f825-4a55-ba25-e4b7066f266d",
      "name": "Code - parse cookie",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "operation": "verify",
        "token": "={{ $json.session_token }}",
        "options": {
          "algorithm": "HS256"
        }
      },
      "id": "22467673-e0fe-4744-906b-4e3bf090c9f3",
      "name": "JWT - Verify session",
      "type": "n8n-nodes-base.jwt",
      "typeVersion": 1,
      "position": [
        500,
        300
      ],
      "credentials": {
        "jwtAuth": {
          "id": "mNWhzdM1ihAaBkZM",
          "name": "JWT Auth account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const i = $input.first().json || {};\nconst body = $('Webhook - Servicios Admin').first().json.body || {};\nconst action = body.action || '';\nconst auth_ok = !i.error && !!i.payload?.user_id;\nconst user_id = auth_ok ? Number(i.payload.user_id) : 0;\n\nconst params = [\n  user_id,\n  Number(body.barberia_id ?? 0),\n  action,\n  Number(body.id ?? 0),\n  auth_ok\n];\n\nreturn [{ json: { \n  auth_ok, \n  user_id, \n  barberia_id: Number(body.barberia_id ?? 0),\n  action,\n  servicio_id: Number(body.id ?? 0),\n  params,\n  body\n} }];"
      },
      "id": "1acfe5c1-1c27-49ca-bdce-c0be91a6b01b",
      "name": "Code - claims input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "executeQuery",
        "query": "\nWITH auth_check AS (\n  SELECT id FROM public.usuarios WHERE id = $1 LIMIT 1\n),\nbarberia_check AS (\n  SELECT id FROM public.barberias \n  WHERE id = $2 AND (\n    owner_id = $1 \n    OR EXISTS (\n      SELECT 1 FROM public.barberia_miembros m \n      WHERE m.barberia_id = $2 \n        AND m.usuario_id = $1 \n        AND m.rol IN ('owner', 'admin')\n        AND m.activo = true\n    )\n  ) AND deleted_at IS NULL LIMIT 1\n),\nservicio_check AS (\n  SELECT 1\n  WHERE $3::text = 'add_servicio' OR EXISTS (\n    SELECT 1 FROM public.servicios WHERE id = $4::int AND barberia_id = $2\n  )\n)\nSELECT\n  $5::boolean AS auth_ok_jwt,\n  EXISTS (SELECT 1 FROM auth_check) AS auth_ok,\n  EXISTS (SELECT 1 FROM barberia_check) AS barberia_ok,\n  EXISTS (SELECT 1 FROM servicio_check) AS servicio_ok;\n    ",
        "options": {
          "queryReplacement": "={{ $json.params }}"
        }
      },
      "id": "db859604-6a11-4d0c-b32f-f409ce0256af",
      "name": "Postgres - session validate",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        900,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "SOV6oSyuHI9cxgLF",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const i = $input.first().json || {};\nconst claims = $('Code - claims input').first().json;\n\nlet ok = false;\nlet status_code = 200;\nlet message = '';\n\nif (!i.auth_ok_jwt || !i.auth_ok) {\n  status_code = 401;\n  message = 'Sesion no valida';\n} else if (!i.barberia_ok) {\n  status_code = 403;\n  message = 'No tienes permisos para esta barberia';\n} else if (!i.servicio_ok) {\n  status_code = 403;\n  message = 'El servicio no pertenece a esta barberia o no existe';\n} else {\n  ok = true;\n}\n\nreturn [{ json: { ok, status_code, message, action: claims.action, body: claims.body } }];"
      },
      "id": "5ef190c1-26e6-4cec-871f-3f93541ff337",
      "name": "Check validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "check-ok",
              "leftValue": "={{ $json.ok ? 'true' : 'false' }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6f1bb8dc-f93a-4cba-adff-18d60af059a2",
      "name": "IF - validated",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1300,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const i = $input.first().json || {};\nconst body = i.body || {};\nconst action = i.action || '';\nlet query = '';\nlet params = [];\n\nif (action === 'add_servicio') {\n  query = 'INSERT INTO public.servicios (barberia_id, nombre, precio, duracion_min, imagen_url, activo) VALUES ($1, $2, $3, $4, $5, true) RETURNING *;';\n  params = [Number(body.barberia_id), body.nombre, Number(body.precio), Number(body.duracion_min), body.imagen_url || null];\n} else if (action === 'update_servicio') {\n  query = 'UPDATE public.servicios SET nombre = $1, precio = $2, duracion_min = $3, imagen_url = $4, activo = $5 WHERE id = $6 AND barberia_id = $7 RETURNING *;';\n  params = [body.nombre, Number(body.precio), Number(body.duracion_min), body.imagen_url || null, Boolean(body.activo), Number(body.id), Number(body.barberia_id)];\n} else if (action === 'delete_servicio') {\n  query = 'UPDATE public.servicios SET activo = false WHERE id = $1 AND barberia_id = $2 RETURNING *;';\n  params = [Number(body.id), Number(body.barberia_id)];\n} else {\n  return [{ json: { ok: false, message: \"Accion no permitida o desconocida.\" } }];\n}\n\nreturn [{ json: { ok: true, query, params } }];"
      },
      "id": "f6f190c1-26e6-4cec-871f-3f93541ff336",
      "name": "Build query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "sql-ok",
              "leftValue": "={{ $json.ok ? 'true' : 'false' }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7f1bb8dc-f93a-4cba-adff-18d60af059a1",
      "name": "IF - SQL listo",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1700,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {
          "queryReplacement": "={{ $json.params }}"
        }
      },
      "id": "d0387aa3-2463-47f6-b201-b86de4b78633",
      "name": "PG - execute query",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1900,
        100
      ],
      "credentials": {
        "postgres": {
          "id": "SOV6oSyuHI9cxgLF",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, message: \"Operacion realizada con exito.\", data: $json } }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://barberagency-barberagency.gymh5g.easypanel.host"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Credentials",
                "value": "true"
              }
            ]
          }
        }
      },
      "id": "8b75e90a-8a53-4d59-8b48-6bbdc016d740",
      "name": "Respond - ok",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2100,
        100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: false, message: $json.message || \"Error al procesar operacion.\" } }}",
        "options": {
          "responseCode": "={{ Number($json.status_code ?? 400) }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://barberagency-barberagency.gymh5g.easypanel.host"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Credentials",
                "value": "true"
              }
            ]
          }
        }
      },
      "id": "8b75e90a-8a53-4d59-8b48-6bbdc016d741",
      "name": "Respond - error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2100,
        400
      ]
    }
  ],
  "connections": {
    "Webhook - Servicios Admin": {
      "main": [
        [
          {
            "node": "Code - parse cookie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - parse cookie": {
      "main": [
        [
          {
            "node": "JWT - Verify session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT - Verify session": {
      "main": [
        [
          {
            "node": "Code - claims input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - claims input": {
      "main": [
        [
          {
            "node": "Postgres - session validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - session validate": {
      "main": [
        [
          {
            "node": "Check validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check validation": {
      "main": [
        [
          {
            "node": "IF - validated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - validated": {
      "main": [
        [
          {
            "node": "Build query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build query": {
      "main": [
        [
          {
            "node": "IF - SQL listo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - SQL listo": {
      "main": [
        [
          {
            "node": "PG - execute query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG - execute query": {
      "main": [
        [
          {
            "node": "Respond - ok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "4ee64799-f174-4fed-ba4d-430d9b6b65d2",
  "activeVersionId": "4ee64799-f174-4fed-ba4d-430d9b6b65d2",
  "versionCounter": 5,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-06-04T23:16:14.551Z",
      "createdAt": "2026-06-04T23:16:14.551Z",
      "role": "workflow:owner",
      "workflowId": "mYdeHfxzpWfOxYIv",
      "projectId": "ajSDxUXg76Ss65zL",
      "project": {
        "updatedAt": "2026-02-09T14:41:23.917Z",
        "createdAt": "2026-02-09T14:01:19.465Z",
        "id": "ajSDxUXg76Ss65zL",
        "name": "Carlos a Alvis <carlosalbertoalvisrodriguez@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "4ede7508-997a-4475-b2b8-9be2e3a6a415"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-06-04T23:32:17.291Z",
    "createdAt": "2026-06-04T23:32:17.291Z",
    "versionId": "4ee64799-f174-4fed-ba4d-430d9b6b65d2",
    "workflowId": "mYdeHfxzpWfOxYIv",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "barberagency/dashboard/servicios",
          "responseMode": "responseNode",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "https://barberagency-barberagency.gymh5g.easypanel.host"
                },
                {
                  "name": "Access-Control-Allow-Methods",
                  "value": "POST, OPTIONS"
                },
                {
                  "name": "Access-Control-Allow-Headers",
                  "value": "*"
                },
                {
                  "name": "Access-Control-Allow-Credentials",
                  "value": "true"
                }
              ]
            }
          }
        },
        "id": "e2a90c5c-9c88-4f81-ba09-32216cfa8827",
        "name": "Webhook - Servicios Admin",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          100,
          300
        ],
        "webhookId": "7270c20c-374e-4e07-ae6e-595721fb10a5"
      },
      {
        "parameters": {
          "jsCode": "const i = $input.first().json || {};\nconst h = i.headers || {};\nconst cookieHeader = (h.cookie ?? h.Cookie ?? '').toString();\nconst m = cookieHeader.match(/(?:^|;\\s*)ba_session=([^;]+)/);\nconst session_token = m ? m[1] : '';\nreturn [{ json: { session_token } }];"
        },
        "id": "c0228beb-f825-4a55-ba25-e4b7066f266d",
        "name": "Code - parse cookie",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          300,
          300
        ]
      },
      {
        "parameters": {
          "operation": "verify",
          "token": "={{ $json.session_token }}",
          "options": {
            "algorithm": "HS256"
          }
        },
        "id": "22467673-e0fe-4744-906b-4e3bf090c9f3",
        "name": "JWT - Verify session",
        "type": "n8n-nodes-base.jwt",
        "typeVersion": 1,
        "position": [
          500,
          300
        ],
        "credentials": {
          "jwtAuth": {
            "id": "mNWhzdM1ihAaBkZM",
            "name": "JWT Auth account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "const i = $input.first().json || {};\nconst body = $('Webhook - Servicios Admin').first().json.body || {};\nconst action = body.action || '';\nconst auth_ok = !i.error && !!i.payload?.user_id;\nconst user_id = auth_ok ? Number(i.payload.user_id) : 0;\n\nconst params = [\n  user_id,\n  Number(body.barberia_id ?? 0),\n  action,\n  Number(body.id ?? 0),\n  auth_ok\n];\n\nreturn [{ json: { \n  auth_ok, \n  user_id, \n  barberia_id: Number(body.barberia_id ?? 0),\n  action,\n  servicio_id: Number(body.id ?? 0),\n  params,\n  body\n} }];"
        },
        "id": "1acfe5c1-1c27-49ca-bdce-c0be91a6b01b",
        "name": "Code - claims input",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          700,
          300
        ]
      },
      {
        "parameters": {
          "resource": "database",
          "operation": "executeQuery",
          "query": "\nWITH auth_check AS (\n  SELECT id FROM public.usuarios WHERE id = $1 LIMIT 1\n),\nbarberia_check AS (\n  SELECT id FROM public.barberias \n  WHERE id = $2 AND (\n    owner_id = $1 \n    OR EXISTS (\n      SELECT 1 FROM public.barberia_miembros m \n      WHERE m.barberia_id = $2 \n        AND m.usuario_id = $1 \n        AND m.rol IN ('owner', 'admin')\n        AND m.activo = true\n    )\n  ) AND deleted_at IS NULL LIMIT 1\n),\nservicio_check AS (\n  SELECT 1\n  WHERE $3::text = 'add_servicio' OR EXISTS (\n    SELECT 1 FROM public.servicios WHERE id = $4::int AND barberia_id = $2\n  )\n)\nSELECT\n  $5::boolean AS auth_ok_jwt,\n  EXISTS (SELECT 1 FROM auth_check) AS auth_ok,\n  EXISTS (SELECT 1 FROM barberia_check) AS barberia_ok,\n  EXISTS (SELECT 1 FROM servicio_check) AS servicio_ok;\n    ",
          "options": {
            "queryReplacement": "={{ $json.params }}"
          }
        },
        "id": "db859604-6a11-4d0c-b32f-f409ce0256af",
        "name": "Postgres - session validate",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.4,
        "position": [
          900,
          300
        ],
        "credentials": {
          "postgres": {
            "id": "SOV6oSyuHI9cxgLF",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const i = $input.first().json || {};\nconst claims = $('Code - claims input').first().json;\n\nlet ok = false;\nlet status_code = 200;\nlet message = '';\n\nif (!i.auth_ok_jwt || !i.auth_ok) {\n  status_code = 401;\n  message = 'Sesion no valida';\n} else if (!i.barberia_ok) {\n  status_code = 403;\n  message = 'No tienes permisos para esta barberia';\n} else if (!i.servicio_ok) {\n  status_code = 403;\n  message = 'El servicio no pertenece a esta barberia o no existe';\n} else {\n  ok = true;\n}\n\nreturn [{ json: { ok, status_code, message, action: claims.action, body: claims.body } }];"
        },
        "id": "5ef190c1-26e6-4cec-871f-3f93541ff337",
        "name": "Check validation",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1100,
          300
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "check-ok",
                "leftValue": "={{ $json.ok ? 'true' : 'false' }}",
                "rightValue": "true",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "6f1bb8dc-f93a-4cba-adff-18d60af059a2",
        "name": "IF - validated",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1300,
          300
        ]
      },
      {
        "parameters": {
          "jsCode": "const i = $input.first().json || {};\nconst body = i.body || {};\nconst action = i.action || '';\nlet query = '';\nlet params = [];\n\nif (action === 'add_servicio') {\n  query = 'INSERT INTO public.servicios (barberia_id, nombre, precio, duracion_min, imagen_url, activo) VALUES ($1, $2, $3, $4, $5, true) RETURNING *;';\n  params = [Number(body.barberia_id), body.nombre, Number(body.precio), Number(body.duracion_min), body.imagen_url || null];\n} else if (action === 'update_servicio') {\n  query = 'UPDATE public.servicios SET nombre = $1, precio = $2, duracion_min = $3, imagen_url = $4, activo = $5 WHERE id = $6 AND barberia_id = $7 RETURNING *;';\n  params = [body.nombre, Number(body.precio), Number(body.duracion_min), body.imagen_url || null, Boolean(body.activo), Number(body.id), Number(body.barberia_id)];\n} else if (action === 'delete_servicio') {\n  query = 'UPDATE public.servicios SET activo = false WHERE id = $1 AND barberia_id = $2 RETURNING *;';\n  params = [Number(body.id), Number(body.barberia_id)];\n} else {\n  return [{ json: { ok: false, message: \"Accion no permitida o desconocida.\" } }];\n}\n\nreturn [{ json: { ok: true, query, params } }];"
        },
        "id": "f6f190c1-26e6-4cec-871f-3f93541ff336",
        "name": "Build query",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1500,
          200
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "sql-ok",
                "leftValue": "={{ $json.ok ? 'true' : 'false' }}",
                "rightValue": "true",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "7f1bb8dc-f93a-4cba-adff-18d60af059a1",
        "name": "IF - SQL listo",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1700,
          200
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "={{ $json.query }}",
          "options": {
            "queryReplacement": "={{ $json.params }}"
          }
        },
        "id": "d0387aa3-2463-47f6-b201-b86de4b78633",
        "name": "PG - execute query",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.4,
        "position": [
          1900,
          100
        ],
        "credentials": {
          "postgres": {
            "id": "SOV6oSyuHI9cxgLF",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ { ok: true, message: \"Operacion realizada con exito.\", data: $json } }}",
          "options": {
            "responseCode": 200,
            "responseHeaders": {
              "entries": [
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "https://barberagency-barberagency.gymh5g.easypanel.host"
                },
                {
                  "name": "Access-Control-Allow-Methods",
                  "value": "POST, OPTIONS"
                },
                {
                  "name": "Access-Control-Allow-Headers",
                  "value": "*"
                },
                {
                  "name": "Access-Control-Allow-Credentials",
                  "value": "true"
                }
              ]
            }
          }
        },
        "id": "8b75e90a-8a53-4d59-8b48-6bbdc016d740",
        "name": "Respond - ok",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          2100,
          100
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ { ok: false, message: $json.message || \"Error al procesar operacion.\" } }}",
          "options": {
            "responseCode": "={{ Number($json.status_code ?? 400) }}",
            "responseHeaders": {
              "entries": [
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "https://barberagency-barberagency.gymh5g.easypanel.host"
                },
                {
                  "name": "Access-Control-Allow-Methods",
                  "value": "POST, OPTIONS"
                },
                {
                  "name": "Access-Control-Allow-Headers",
                  "value": "*"
                },
                {
                  "name": "Access-Control-Allow-Credentials",
                  "value": "true"
                }
              ]
            }
          }
        },
        "id": "8b75e90a-8a53-4d59-8b48-6bbdc016d741",
        "name": "Respond - error",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          2100,
          400
        ]
      }
    ],
    "connections": {
      "Webhook - Servicios Admin": {
        "main": [
          [
            {
              "node": "Code - parse cookie",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - parse cookie": {
        "main": [
          [
            {
              "node": "JWT - Verify session",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "JWT - Verify session": {
        "main": [
          [
            {
              "node": "Code - claims input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - claims input": {
        "main": [
          [
            {
              "node": "Postgres - session validate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Postgres - session validate": {
        "main": [
          [
            {
              "node": "Check validation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check validation": {
        "main": [
          [
            {
              "node": "IF - validated",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF - validated": {
        "main": [
          [
            {
              "node": "Build query",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond - error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build query": {
        "main": [
          [
            {
              "node": "IF - SQL listo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF - SQL listo": {
        "main": [
          [
            {
              "node": "PG - execute query",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond - error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PG - execute query": {
        "main": [
          [
            {
              "node": "Respond - ok",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Carlos a Alvis",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-04T23:32:17.345Z",
        "id": 1555,
        "workflowId": "mYdeHfxzpWfOxYIv",
        "versionId": "4ee64799-f174-4fed-ba4d-430d9b6b65d2",
        "event": "activated",
        "userId": "4ede7508-997a-4475-b2b8-9be2e3a6a415"
      },
      {
        "createdAt": "2026-06-04T23:32:17.615Z",
        "id": 1557,
        "workflowId": "mYdeHfxzpWfOxYIv",
        "versionId": "4ee64799-f174-4fed-ba4d-430d9b6b65d2",
        "event": "activated",
        "userId": "4ede7508-997a-4475-b2b8-9be2e3a6a415"
      },
      {
        "createdAt": "2026-06-04T23:32:17.332Z",
        "id": 1554,
        "workflowId": "mYdeHfxzpWfOxYIv",
        "versionId": "4ee64799-f174-4fed-ba4d-430d9b6b65d2",
        "event": "deactivated",
        "userId": "4ede7508-997a-4475-b2b8-9be2e3a6a415"
      },
      {
        "createdAt": "2026-06-04T23:32:17.488Z",
        "id": 1556,
        "workflowId": "mYdeHfxzpWfOxYIv",
        "versionId": "4ee64799-f174-4fed-ba4d-430d9b6b65d2",
        "event": "deactivated",
        "userId": "4ede7508-997a-4475-b2b8-9be2e3a6a415"
      }
    ]
  }
}