n8n/workflows/sandbox/BA_MP_CREATE_CHECKOUT_PREPAID_SANDBOX.json
{
  "updatedAt": "2026-07-14T00:40:59.404Z",
  "createdAt": "2026-07-13T23:54:07.458Z",
  "id": "uKWA9IwRcUciiuQs",
  "name": "BA_MP_CREATE_CHECKOUT_PREPAID_SANDBOX",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "barberagency/billing/prepaid-checkout",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        100,
        200
      ],
      "webhookId": ""
    },
    {
      "parameters": {
        "jsCode": "const i = $input.first().json || {};\nconst h = i.headers || {};\nlet session_token = '';\nconst authHeader = (h.authorization ?? h.Authorization ?? '').toString().trim();\nif (authHeader.startsWith('Bearer ')) {\n  session_token = authHeader.substring(7).trim();\n} else {\n  const cookieHeader = (h.cookie ?? h.Cookie ?? '').toString();\n  const m = cookieHeader.match(/(?:^|;\\s*)ba_session=([^;]+)/);\n  if (m) {\n    session_token = m[1];\n  }\n}\nreturn [{ json: { session_token } }];"
      },
      "id": "code-parse-cookie",
      "name": "Code - parse cookie",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        200
      ]
    },
    {
      "parameters": {
        "operation": "verify",
        "token": "={{ $json.session_token }}",
        "options": {
          "algorithm": "HS256"
        }
      },
      "id": "jwt-verify",
      "name": "JWT - Verify session",
      "type": "n8n-nodes-base.jwt",
      "typeVersion": 1,
      "position": [
        460,
        200
      ],
      "credentials": {
        "jwtAuth": {
          "id": "mNWhzdM1ihAaBkZM",
          "name": "JWT Auth account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const i = $input.first().json || {};\nconst auth_ok = !i.error && !!i.payload?.user_id;\nconst user_id = auth_ok ? Number(i.payload.user_id) : 0;\nreturn [{ json: { auth_ok, user_id } }];"
      },
      "id": "code-check-auth",
      "name": "Code - check auth",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.auth_ok }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-auth",
      "name": "If - is authenticated",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        820,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"error\": \"UNAUTHORIZED\",\n  \"message\": \"Sesión no válida o expirada.\"\n}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "respond-unauthorized",
      "name": "Respond - 401 Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1020,
        320
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SET ROLE authenticated;\nSET request.jwt.claims = '{\"user_id\": \"{{ $node[\"Code - check auth\"].json.user_id }}\"}';\nSELECT * FROM public.billing_create_checkout(\n  {{ $node[\"Webhook Trigger\"].json.body.barberia_id }},\n  (SELECT id FROM public.plan_prices WHERE plan_id = (SELECT id FROM public.planes WHERE code = '{{ $node[\"Webhook Trigger\"].json.body.plan_code || 'barberagency_full' }}') AND name = '{{ $node[\"Webhook Trigger\"].json.body.billing_term || 'monthly' }}' AND active = true LIMIT 1)\n);"
      },
      "id": "db-create-checkout",
      "name": "PG - Create Checkout",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1020,
        100
      ],
      "credentials": {
        "postgres": {
          "id": "SOV6oSyuHI9cxgLF",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mercadopago.com/checkout/preferences",
        "authentication": "predefined",
        "nodeCredentialType": "httpHeaderAuth",
        "credentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"items\": [\n    {\n      \"title\": \"Plan BarberAgency SaaS\",\n      \"quantity\": 1,\n      \"currency_id\": \"{{ $node[\"PG - Create Checkout\"].json.currency }}\",\n      \"unit_price\": {{ $node[\"PG - Create Checkout\"].json.amount }}\n    }\n  ],\n  \"external_reference\": \"{{ $node[\"PG - Create Checkout\"].json.external_reference }}\",\n  \"notification_url\": \"https://barberagency-n8n.gymh5g.easypanel.host/webhook/mp-notification\",\n  \"back_urls\": {\n    \"success\": \"https://barberagency-barberagency.gymh5g.easypanel.host/registro-barberias/?payment_status=approved&barberia_id={{ $node[\"Webhook Trigger\"].json.body.barberia_id }}\",\n    \"failure\": \"https://barberagency-barberagency.gymh5g.easypanel.host/registro-barberias/?payment_status=rejected&barberia_id={{ $node[\"Webhook Trigger\"].json.body.barberia_id }}\",\n    \"pending\": \"https://barberagency-barberagency.gymh5g.easypanel.host/registro-barberias/?payment_status=pending&barberia_id={{ $node[\"Webhook Trigger\"].json.body.barberia_id }}\"\n  },\n  \"auto_return\": \"approved\"\n}",
        "options": {}
      },
      "id": "mp-pref",
      "name": "MP API Checkout",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1220,
        100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "CGRkoVsQuGre5o37",
          "name": "BA_MP_SANDBOX_CRED"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.billing_checkouts \nSET provider_checkout_id = '{{ $json.id }}', \n    init_point = '{{ $json.init_point }}',\n    updated_at = now() \nWHERE id = '{{ $node[\"PG - Create Checkout\"].json.checkout_id }}'\nRETURNING id, external_reference, init_point;"
      },
      "id": "db-save-checkout",
      "name": "PG - Save Checkout Preference",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1420,
        100
      ],
      "credentials": {
        "postgres": {
          "id": "SOV6oSyuHI9cxgLF",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"url\": \"{{ $json.init_point }}\",\n  \"checkout_reference\": \"{{ $node[\"PG - Create Checkout\"].json.external_reference }}\"\n}",
        "options": {}
      },
      "id": "respond-checkout",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1620,
        100
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Code - parse cookie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - parse cookie": {
      "main": [
        [
          {
            "node": "JWT - Verify session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT - Verify session": {
      "main": [
        [
          {
            "node": "Code - check auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - check auth": {
      "main": [
        [
          {
            "node": "If - is authenticated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If - is authenticated": {
      "main": [
        [
          {
            "node": "PG - Create Checkout",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - 401 Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG - Create Checkout": {
      "main": [
        [
          {
            "node": "MP API Checkout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MP API Checkout": {
      "main": [
        [
          {
            "node": "PG - Save Checkout Preference",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG - Save Checkout Preference": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": null,
  "versionId": "074ad31c-4312-4aa0-9da8-5388ccf8a818",
  "activeVersionId": "074ad31c-4312-4aa0-9da8-5388ccf8a818",
  "versionCounter": 2,
  "triggerCount": 1,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-07-13T23:54:07.460Z",
      "createdAt": "2026-07-13T23:54:07.460Z",
      "role": "workflow:owner",
      "workflowId": "uKWA9IwRcUciiuQs",
      "projectId": "",
      "project": {
        "updatedAt": "2026-02-09T14:41:23.917Z",
        "createdAt": "2026-02-09T14:01:19.465Z",
        "id": "ajSDxUXg76Ss65zL",
        "name": "Carlos a Alvis <placeholder@example.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": ""
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-07-14T00:40:59.407Z",
    "createdAt": "2026-07-14T00:40:59.407Z",
    "versionId": "074ad31c-4312-4aa0-9da8-5388ccf8a818",
    "workflowId": "uKWA9IwRcUciiuQs",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "barberagency/billing/prepaid-checkout",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "webhook-trigger",
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          100,
          200
        ],
        "webhookId": ""
      },
      {
        "parameters": {
          "jsCode": "const i = $input.first().json || {};\nconst h = i.headers || {};\nlet session_token = '';\nconst authHeader = (h.authorization ?? h.Authorization ?? '').toString().trim();\nif (authHeader.startsWith('Bearer ')) {\n  session_token = authHeader.substring(7).trim();\n} else {\n  const cookieHeader = (h.cookie ?? h.Cookie ?? '').toString();\n  const m = cookieHeader.match(/(?:^|;\\s*)ba_session=([^;]+)/);\n  if (m) {\n    session_token = m[1];\n  }\n}\nreturn [{ json: { session_token } }];"
        },
        "id": "code-parse-cookie",
        "name": "Code - parse cookie",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          280,
          200
        ]
      },
      {
        "parameters": {
          "operation": "verify",
          "token": "={{ $json.session_token }}",
          "options": {
            "algorithm": "HS256"
          }
        },
        "id": "jwt-verify",
        "name": "JWT - Verify session",
        "type": "n8n-nodes-base.jwt",
        "typeVersion": 1,
        "position": [
          460,
          200
        ],
        "credentials": {
          "jwtAuth": {
            "id": "mNWhzdM1ihAaBkZM",
            "name": "JWT Auth account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "const i = $input.first().json || {};\nconst auth_ok = !i.error && !!i.payload?.user_id;\nconst user_id = auth_ok ? Number(i.payload.user_id) : 0;\nreturn [{ json: { auth_ok, user_id } }];"
        },
        "id": "code-check-auth",
        "name": "Code - check auth",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          640,
          200
        ]
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{ $json.auth_ok }}",
                "value2": true
              }
            ]
          }
        },
        "id": "if-auth",
        "name": "If - is authenticated",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          820,
          200
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "{\n  \"error\": \"UNAUTHORIZED\",\n  \"message\": \"Sesión no válida o expirada.\"\n}",
          "options": {
            "responseCode": 401
          }
        },
        "id": "respond-unauthorized",
        "name": "Respond - 401 Unauthorized",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1020,
          320
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SET ROLE authenticated;\nSET request.jwt.claims = '{\"user_id\": \"{{ $node[\"Code - check auth\"].json.user_id }}\"}';\nSELECT * FROM public.billing_create_checkout(\n  {{ $node[\"Webhook Trigger\"].json.body.barberia_id }},\n  (SELECT id FROM public.plan_prices WHERE plan_id = (SELECT id FROM public.planes WHERE code = '{{ $node[\"Webhook Trigger\"].json.body.plan_code || 'barberagency_full' }}') AND name = '{{ $node[\"Webhook Trigger\"].json.body.billing_term || 'monthly' }}' AND active = true LIMIT 1)\n);"
        },
        "id": "db-create-checkout",
        "name": "PG - Create Checkout",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.4,
        "position": [
          1020,
          100
        ],
        "credentials": {
          "postgres": {
            "id": "SOV6oSyuHI9cxgLF",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.mercadopago.com/checkout/preferences",
          "authentication": "predefined",
          "nodeCredentialType": "httpHeaderAuth",
          "credentialType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"items\": [\n    {\n      \"title\": \"Plan BarberAgency SaaS\",\n      \"quantity\": 1,\n      \"currency_id\": \"{{ $node[\"PG - Create Checkout\"].json.currency }}\",\n      \"unit_price\": {{ $node[\"PG - Create Checkout\"].json.amount }}\n    }\n  ],\n  \"external_reference\": \"{{ $node[\"PG - Create Checkout\"].json.external_reference }}\",\n  \"notification_url\": \"https://barberagency-n8n.gymh5g.easypanel.host/webhook/mp-notification\",\n  \"back_urls\": {\n    \"success\": \"https://barberagency-barberagency.gymh5g.easypanel.host/registro-barberias/?payment_status=approved&barberia_id={{ $node[\"Webhook Trigger\"].json.body.barberia_id }}\",\n    \"failure\": \"https://barberagency-barberagency.gymh5g.easypanel.host/registro-barberias/?payment_status=rejected&barberia_id={{ $node[\"Webhook Trigger\"].json.body.barberia_id }}\",\n    \"pending\": \"https://barberagency-barberagency.gymh5g.easypanel.host/registro-barberias/?payment_status=pending&barberia_id={{ $node[\"Webhook Trigger\"].json.body.barberia_id }}\"\n  },\n  \"auto_return\": \"approved\"\n}",
          "options": {}
        },
        "id": "mp-pref",
        "name": "MP API Checkout",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1220,
          100
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "CGRkoVsQuGre5o37",
            "name": "BA_MP_SANDBOX_CRED"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE public.billing_checkouts \nSET provider_checkout_id = '{{ $json.id }}', \n    init_point = '{{ $json.init_point }}',\n    updated_at = now() \nWHERE id = '{{ $node[\"PG - Create Checkout\"].json.checkout_id }}'\nRETURNING id, external_reference, init_point;"
        },
        "id": "db-save-checkout",
        "name": "PG - Save Checkout Preference",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.4,
        "position": [
          1420,
          100
        ],
        "credentials": {
          "postgres": {
            "id": "SOV6oSyuHI9cxgLF",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "{\n  \"url\": \"{{ $json.init_point }}\",\n  \"checkout_reference\": \"{{ $node[\"PG - Create Checkout\"].json.external_reference }}\"\n}",
          "options": {}
        },
        "id": "respond-checkout",
        "name": "Respond to Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1620,
          100
        ]
      }
    ],
    "connections": {
      "Webhook Trigger": {
        "main": [
          [
            {
              "node": "Code - parse cookie",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - parse cookie": {
        "main": [
          [
            {
              "node": "JWT - Verify session",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "JWT - Verify session": {
        "main": [
          [
            {
              "node": "Code - check auth",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - check auth": {
        "main": [
          [
            {
              "node": "If - is authenticated",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If - is authenticated": {
        "main": [
          [
            {
              "node": "PG - Create Checkout",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond - 401 Unauthorized",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PG - Create Checkout": {
        "main": [
          [
            {
              "node": "MP API Checkout",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MP API Checkout": {
        "main": [
          [
            {
              "node": "PG - Save Checkout Preference",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PG - Save Checkout Preference": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Carlos a Alvis",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-07-14T00:40:59.601Z",
        "id": 1845,
        "workflowId": "uKWA9IwRcUciiuQs",
        "versionId": "074ad31c-4312-4aa0-9da8-5388ccf8a818",
        "event": "activated",
        "userId": "4ede7508-997a-4475-b2b8-9be2e3a6a415"
      }
    ]
  }
}