n8n/workflows/sandbox/BA_MP_CREATE_CHECKOUT_PREPAID_SANDBOX.json
{
  "updatedAt": "2026-07-14T00:40:59.404Z",
  "createdAt": "2026-07-13T23:54:07.458Z",
  "id": "uKWA9IwRcUciiuQs",
  "name": "BA_MP_CREATE_CHECKOUT_PREPAID_SANDBOX",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "barberagency/billing/prepaid-checkout",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        100,
        200
      ],
      "webhookId": ""
    },
    {
      "parameters": {
        "jsCode": "const i = $input.first().json || {};\nconst h = i.headers || {};\nlet cookieToken = '';\nlet bearerToken = '';\n\nconst cookieHeader = (h.cookie ?? h.Cookie ?? '').toString();\nconst cookieMatch = cookieHeader.match(/(?:^|;\\s*)ba_session=([^;]+)/);\nif (cookieMatch) {\n  cookieToken = cookieMatch[1].trim();\n}\n\nconst authHeader = (h.authorization ?? h.Authorization ?? '').toString().trim();\nif (authHeader.startsWith('Bearer ')) {\n  bearerToken = authHeader.substring(7).trim();\n}\n\nlet session_token = '';\nlet conflict = false;\n\nif (cookieToken && bearerToken) {\n  if (cookieToken !== bearerToken) {\n    conflict = true;\n  } else {\n    session_token = cookieToken;\n  }\n} else if (cookieToken) {\n  session_token = cookieToken;\n} else if (bearerToken) {\n  session_token = bearerToken;\n}\n\nreturn [{ json: { session_token, conflict } }];"
      },
      "id": "code-parse-cookie",
      "name": "Code - parse cookie",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        200
      ]
    },
    {
      "parameters": {
        "operation": "verify",
        "token": "={{ $json.session_token }}",
        "options": {
          "algorithm": "HS256"
        }
      },
      "id": "jwt-verify",
      "name": "JWT - Verify session",
      "type": "n8n-nodes-base.jwt",
      "typeVersion": 1,
      "position": [
        460,
        200
      ],
      "credentials": {
        "jwtAuth": {
          "id": "mNWhzdM1ihAaBkZM",
          "name": "JWT Auth account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const i = $input.first().json || {};\nconst inputData = $node[\"Code - parse cookie\"].json || {};\n\nlet auth_ok = false;\nlet user_id = 0;\nlet error_message = \"\";\n\nif (inputData.conflict) {\n  error_message = \"Conflicto de sesión: Múltiples tokens contradictorios.\";\n} else if (i.error) {\n  error_message = \"Firma o formato del token inválido: \" + String(i.error);\n} else if (!i.payload) {\n  error_message = \"Payload ausente.\";\n} else {\n  const payload = i.payload;\n  \n  if (payload.exp === undefined || payload.exp === null) {\n    error_message = \"Token no contiene claim exp.\";\n  } else if (payload.user_id === undefined || payload.user_id === null) {\n    error_message = \"Token no contiene claim user_id.\";\n  } else {\n    const rawUserId = Number(payload.user_id);\n    if (!Number.isInteger(rawUserId) || rawUserId <= 0) {\n      error_message = \"User ID debe ser un entero positivo.\";\n    } else if (payload.iss !== 'barberagency_auth') {\n      error_message = \"Issuer no coincide.\";\n    } else if (payload.aud !== 'barberagency_app') {\n      error_message = \"Audience no coincide.\";\n    } else {\n      auth_ok = true;\n      user_id = rawUserId;\n    }\n  }\n}\n\nreturn [{ json: { auth_ok, user_id, error_message } }];"
      },
      "id": "code-check-auth",
      "name": "Code - check auth",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.auth_ok }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-auth",
      "name": "If - is authenticated",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        820,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"error\": \"UNAUTHORIZED\",\n  \"message\": \"{{ $json.error_message || 'Sesión no válida o expirada.' }}\"\n}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "respond-unauthorized",
      "name": "Respond - 401 Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1020,
        320
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM public.billing_create_checkout_backend($1, $2, $3, $4);",
        "options": {
          "queryReplacement": "={{ [$node[\"Webhook Trigger\"].json.body.barberia_id, $node[\"Webhook Trigger\"].json.body.plan_code || 'barberagency_full', $node[\"Webhook Trigger\"].json.body.billing_term || 'monthly', $node[\"Code - check auth\"].json.user_id] }}"
        }
      },
      "id": "db-create-checkout",
      "name": "PG - Create Checkout",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1020,
        100
      ],
      "credentials": {
        "postgres": {
          "id": "SOV6oSyuHI9cxgLF",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.checkout_id !== undefined }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-db-success",
      "name": "If - DB Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1180,
        100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ ($json.message || '').includes('UNAUTHORIZED') }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-is-unauthorized",
      "name": "If - Is Unauthorized",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1340,
        220
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"error\": \"BAD_REQUEST\",\n  \"message\": \"{{ $json.message || 'Error al procesar checkout en base de datos.' }}\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-bad-request",
      "name": "Respond - 400 Bad Request",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1540,
        280
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"error\": \"FORBIDDEN\",\n  \"message\": \"{{ $json.message || 'Acceso denegado.' }}\"\n}",
        "options": {
          "responseCode": 403
        }
      },
      "id": "respond-forbidden",
      "name": "Respond - 403 Forbidden",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1540,
        140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mercadopago.com/checkout/preferences",
        "authentication": "predefined",
        "nodeCredentialType": "httpHeaderAuth",
        "credentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"items\": [\n    {\n      \"title\": \"Plan BarberAgency SaaS\",\n      \"quantity\": 1,\n      \"currency_id\": \"{{ $node[\"PG - Create Checkout\"].json.currency }}\",\n      \"unit_price\": {{ $node[\"PG - Create Checkout\"].json.amount }}\n    }\n  ],\n  \"external_reference\": \"{{ $node[\"PG - Create Checkout\"].json.external_reference }}\",\n  \"notification_url\": \"https://barberagency-n8n.gymh5g.easypanel.host/webhook/mp-notification\",\n  \"back_urls\": {\n    \"success\": \"https://barberagency-barberagency.gymh5g.easypanel.host/registro-barberias/?payment_status=approved&barberia_id={{ $node[\"Webhook Trigger\"].json.body.barberia_id }}\",\n    \"failure\": \"https://barberagency-barberagency.gymh5g.easypanel.host/registro-barberias/?payment_status=rejected&barberia_id={{ $node[\"Webhook Trigger\"].json.body.barberia_id }}\",\n    \"pending\": \"https://barberagency-barberagency.gymh5g.easypanel.host/registro-barberias/?payment_status=pending&barberia_id={{ $node[\"Webhook Trigger\"].json.body.barberia_id }}\"\n  },\n  \"auto_return\": \"approved\"\n}",
        "options": {}
      },
      "id": "mp-pref",
      "name": "MP API Checkout",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1340,
        20
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "CGRkoVsQuGre5o37",
          "name": "BA_MP_SANDBOX_CRED"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.billing_checkouts SET provider_checkout_id = $1, init_point = $2, updated_at = now() WHERE id = $3 RETURNING id, external_reference, init_point;",
        "options": {
          "queryReplacement": "={{ [$json.id, $json.init_point, $node[\"PG - Create Checkout\"].json.checkout_id] }}"
        }
      },
      "id": "db-save-checkout",
      "name": "PG - Save Checkout Preference",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1520,
        20
      ],
      "credentials": {
        "postgres": {
          "id": "SOV6oSyuHI9cxgLF",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"url\": \"{{ $json.init_point }}\",\n  \"checkout_reference\": \"{{ $node[\"PG - Create Checkout\"].json.external_reference }}\"\n}",
        "options": {}
      },
      "id": "respond-checkout",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1700,
        20
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Code - parse cookie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - parse cookie": {
      "main": [
        [
          {
            "node": "JWT - Verify session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT - Verify session": {
      "main": [
        [
          {
            "node": "Code - check auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - check auth": {
      "main": [
        [
          {
            "node": "If - is authenticated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If - is authenticated": {
      "main": [
        [
          {
            "node": "PG - Create Checkout",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - 401 Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG - Create Checkout": {
      "main": [
        [
          {
            "node": "If - DB Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If - DB Success": {
      "main": [
        [
          {
            "node": "MP API Checkout",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If - Is Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If - Is Unauthorized": {
      "main": [
        [
          {
            "node": "Respond - 403 Forbidden",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - 400 Bad Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MP API Checkout": {
      "main": [
        [
          {
            "node": "PG - Save Checkout Preference",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG - Save Checkout Preference": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": null,
  "versionId": "074ad31c-4312-4aa0-9da8-5388ccf8a818",
  "activeVersionId": "074ad31c-4312-4aa0-9da8-5388ccf8a818",
  "versionCounter": 2,
  "triggerCount": 1,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-07-13T23:54:07.460Z",
      "createdAt": "2026-07-13T23:54:07.460Z",
      "role": "workflow:owner",
      "workflowId": "uKWA9IwRcUciiuQs",
      "projectId": "",
      "project": {
        "updatedAt": "2026-02-09T14:41:23.917Z",
        "createdAt": "2026-02-09T14:01:19.465Z",
        "id": "ajSDxUXg76Ss65zL",
        "name": "Carlos a Alvis <placeholder@example.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": ""
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-07-14T00:40:59.407Z",
    "createdAt": "2026-07-14T00:40:59.407Z",
    "versionId": "074ad31c-4312-4aa0-9da8-5388ccf8a818",
    "workflowId": "uKWA9IwRcUciiuQs",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "barberagency/billing/prepaid-checkout",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "webhook-trigger",
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          100,
          200
        ],
        "webhookId": ""
      },
      {
        "parameters": {
          "jsCode": "const i = $input.first().json || {};\nconst h = i.headers || {};\nlet cookieToken = '';\nlet bearerToken = '';\n\nconst cookieHeader = (h.cookie ?? h.Cookie ?? '').toString();\nconst cookieMatch = cookieHeader.match(/(?:^|;\\s*)ba_session=([^;]+)/);\nif (cookieMatch) {\n  cookieToken = cookieMatch[1].trim();\n}\n\nconst authHeader = (h.authorization ?? h.Authorization ?? '').toString().trim();\nif (authHeader.startsWith('Bearer ')) {\n  bearerToken = authHeader.substring(7).trim();\n}\n\nlet session_token = '';\nlet conflict = false;\n\nif (cookieToken && bearerToken) {\n  if (cookieToken !== bearerToken) {\n    conflict = true;\n  } else {\n    session_token = cookieToken;\n  }\n} else if (cookieToken) {\n  session_token = cookieToken;\n} else if (bearerToken) {\n  session_token = bearerToken;\n}\n\nreturn [{ json: { session_token, conflict } }];"
        },
        "id": "code-parse-cookie",
        "name": "Code - parse cookie",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          280,
          200
        ]
      },
      {
        "parameters": {
          "operation": "verify",
          "token": "={{ $json.session_token }}",
          "options": {
            "algorithm": "HS256"
          }
        },
        "id": "jwt-verify",
        "name": "JWT - Verify session",
        "type": "n8n-nodes-base.jwt",
        "typeVersion": 1,
        "position": [
          460,
          200
        ],
        "credentials": {
          "jwtAuth": {
            "id": "mNWhzdM1ihAaBkZM",
            "name": "JWT Auth account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "const i = $input.first().json || {};\nconst inputData = $node[\"Code - parse cookie\"].json || {};\n\nlet auth_ok = false;\nlet user_id = 0;\nlet error_message = \"\";\n\nif (inputData.conflict) {\n  error_message = \"Conflicto de sesión: Múltiples tokens contradictorios.\";\n} else if (i.error) {\n  error_message = \"Firma o formato del token inválido: \" + String(i.error);\n} else if (!i.payload) {\n  error_message = \"Payload ausente.\";\n} else {\n  const payload = i.payload;\n  \n  if (payload.exp === undefined || payload.exp === null) {\n    error_message = \"Token no contiene claim exp.\";\n  } else if (payload.user_id === undefined || payload.user_id === null) {\n    error_message = \"Token no contiene claim user_id.\";\n  } else {\n    const rawUserId = Number(payload.user_id);\n    if (!Number.isInteger(rawUserId) || rawUserId <= 0) {\n      error_message = \"User ID debe ser un entero positivo.\";\n    } else if (payload.iss !== 'barberagency_auth') {\n      error_message = \"Issuer no coincide.\";\n    } else if (payload.aud !== 'barberagency_app') {\n      error_message = \"Audience no coincide.\";\n    } else {\n      auth_ok = true;\n      user_id = rawUserId;\n    }\n  }\n}\n\nreturn [{ json: { auth_ok, user_id, error_message } }];"
        },
        "id": "code-check-auth",
        "name": "Code - check auth",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          640,
          200
        ]
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{ $json.auth_ok }}",
                "value2": true
              }
            ]
          }
        },
        "id": "if-auth",
        "name": "If - is authenticated",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          820,
          200
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"error\": \"UNAUTHORIZED\",\n  \"message\": \"{{ $json.error_message || 'Sesión no válida o expirada.' }}\"\n}",
          "options": {
            "responseCode": 401
          }
        },
        "id": "respond-unauthorized",
        "name": "Respond - 401 Unauthorized",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1020,
          320
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT * FROM public.billing_create_checkout_backend($1, $2, $3, $4);",
          "options": {
            "queryReplacement": "={{ [$node[\"Webhook Trigger\"].json.body.barberia_id, $node[\"Webhook Trigger\"].json.body.plan_code || 'barberagency_full', $node[\"Webhook Trigger\"].json.body.billing_term || 'monthly', $node[\"Code - check auth\"].json.user_id] }}"
          }
        },
        "id": "db-create-checkout",
        "name": "PG - Create Checkout",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.4,
        "position": [
          1020,
          100
        ],
        "credentials": {
          "postgres": {
            "id": "SOV6oSyuHI9cxgLF",
            "name": "Postgres account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{ $json.checkout_id !== undefined }}",
                "value2": true
              }
            ]
          }
        },
        "id": "if-db-success",
        "name": "If - DB Success",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          1180,
          100
        ]
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{ ($json.message || '').includes('UNAUTHORIZED') }}",
                "value2": true
              }
            ]
          }
        },
        "id": "if-is-unauthorized",
        "name": "If - Is Unauthorized",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          1340,
          220
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"error\": \"BAD_REQUEST\",\n  \"message\": \"{{ $json.message || 'Error al procesar checkout en base de datos.' }}\"\n}",
          "options": {
            "responseCode": 400
          }
        },
        "id": "respond-bad-request",
        "name": "Respond - 400 Bad Request",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1540,
          280
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"error\": \"FORBIDDEN\",\n  \"message\": \"{{ $json.message || 'Acceso denegado.' }}\"\n}",
          "options": {
            "responseCode": 403
          }
        },
        "id": "respond-forbidden",
        "name": "Respond - 403 Forbidden",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1540,
          140
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.mercadopago.com/checkout/preferences",
          "authentication": "predefined",
          "nodeCredentialType": "httpHeaderAuth",
          "credentialType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"items\": [\n    {\n      \"title\": \"Plan BarberAgency SaaS\",\n      \"quantity\": 1,\n      \"currency_id\": \"{{ $node[\"PG - Create Checkout\"].json.currency }}\",\n      \"unit_price\": {{ $node[\"PG - Create Checkout\"].json.amount }}\n    }\n  ],\n  \"external_reference\": \"{{ $node[\"PG - Create Checkout\"].json.external_reference }}\",\n  \"notification_url\": \"https://barberagency-n8n.gymh5g.easypanel.host/webhook/mp-notification\",\n  \"back_urls\": {\n    \"success\": \"https://barberagency-barberagency.gymh5g.easypanel.host/registro-barberias/?payment_status=approved&barberia_id={{ $node[\"Webhook Trigger\"].json.body.barberia_id }}\",\n    \"failure\": \"https://barberagency-barberagency.gymh5g.easypanel.host/registro-barberias/?payment_status=rejected&barberia_id={{ $node[\"Webhook Trigger\"].json.body.barberia_id }}\",\n    \"pending\": \"https://barberagency-barberagency.gymh5g.easypanel.host/registro-barberias/?payment_status=pending&barberia_id={{ $node[\"Webhook Trigger\"].json.body.barberia_id }}\"\n  },\n  \"auto_return\": \"approved\"\n}",
          "options": {}
        },
        "id": "mp-pref",
        "name": "MP API Checkout",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1340,
          20
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "CGRkoVsQuGre5o37",
            "name": "BA_MP_SANDBOX_CRED"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE public.billing_checkouts SET provider_checkout_id = $1, init_point = $2, updated_at = now() WHERE id = $3 RETURNING id, external_reference, init_point;",
          "options": {
            "queryReplacement": "={{ [$json.id, $json.init_point, $node[\"PG - Create Checkout\"].json.checkout_id] }}"
          }
        },
        "id": "db-save-checkout",
        "name": "PG - Save Checkout Preference",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.4,
        "position": [
          1520,
          20
        ],
        "credentials": {
          "postgres": {
            "id": "SOV6oSyuHI9cxgLF",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "{\n  \"url\": \"{{ $json.init_point }}\",\n  \"checkout_reference\": \"{{ $node[\"PG - Create Checkout\"].json.external_reference }}\"\n}",
          "options": {}
        },
        "id": "respond-checkout",
        "name": "Respond to Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1700,
          20
        ]
      }
    ],
    "connections": {
      "Webhook Trigger": {
        "main": [
          [
            {
              "node": "Code - parse cookie",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - parse cookie": {
        "main": [
          [
            {
              "node": "JWT - Verify session",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "JWT - Verify session": {
        "main": [
          [
            {
              "node": "Code - check auth",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - check auth": {
        "main": [
          [
            {
              "node": "If - is authenticated",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If - is authenticated": {
        "main": [
          [
            {
              "node": "PG - Create Checkout",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond - 401 Unauthorized",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PG - Create Checkout": {
        "main": [
          [
            {
              "node": "If - DB Success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If - DB Success": {
        "main": [
          [
            {
              "node": "MP API Checkout",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "If - Is Unauthorized",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If - Is Unauthorized": {
        "main": [
          [
            {
              "node": "Respond - 403 Forbidden",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond - 400 Bad Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MP API Checkout": {
        "main": [
          [
            {
              "node": "PG - Save Checkout Preference",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PG - Save Checkout Preference": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Carlos a Alvis",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-07-14T00:40:59.601Z",
        "id": 1845,
        "workflowId": "uKWA9IwRcUciiuQs",
        "versionId": "074ad31c-4312-4aa0-9da8-5388ccf8a818",
        "event": "activated",
        "userId": "4ede7508-997a-4475-b2b8-9be2e3a6a415"
      }
    ]
  }
}