n8n/workflows/sandbox/BA_MP_WEBHOOK_RECEIVER_SANDBOX.json
{
  "updatedAt": "2026-07-13T23:54:07.270Z",
  "createdAt": "2026-07-13T23:54:07.270Z",
  "id": "UsC63EI0QzBFTvfy",
  "name": "BA_MP_WEBHOOK_RECEIVER_SANDBOX",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mp-notification",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-receiver",
      "name": "Webhook Receiver",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        100,
        200
      ],
      "webhookId": ""
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM public.billing_register_webhook(\n  'mercadopago', \n  '{{ $json.body.data ? $json.body.data.id : null }}', \n  '{{ $json.body.type }}', \n  '{{ JSON.stringify($json.body) }}'::jsonb\n);"
      },
      "id": "register-webhook",
      "name": "PG - Register Webhook",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        300,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "SOV6oSyuHI9cxgLF",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"ok\": true\n}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        500,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"PG - Register Webhook\"].json.already_processed }}",
              "value2": false
            }
          ]
        }
      },
      "id": "if-new",
      "name": "IF New Webhook",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        700,
        200
      ]
    },
    {
      "parameters": {
        "workflowId": "iUllvDVp6NYJxQ7m",
        "options": {}
      },
      "id": "trigger-processor",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        900,
        200
      ]
    }
  ],
  "connections": {
    "Webhook Receiver": {
      "main": [
        [
          {
            "node": "PG - Register Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG - Register Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "IF New Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF New Webhook": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": null,
  "versionId": "2f37686d-29cc-44f9-9287-9d79aaa9ae1d",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-07-13T23:54:07.273Z",
      "createdAt": "2026-07-13T23:54:07.273Z",
      "role": "workflow:owner",
      "workflowId": "UsC63EI0QzBFTvfy",
      "projectId": "",
      "project": {
        "updatedAt": "2026-02-09T14:41:23.917Z",
        "createdAt": "2026-02-09T14:01:19.465Z",
        "id": "ajSDxUXg76Ss65zL",
        "name": "Carlos a Alvis <placeholder@example.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": ""
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}