ContextoGeneral/daily/6JugRzxsOGKBvgWW_backup.json
{
  "updatedAt": "2026-06-09T22:55:39.437Z",
  "createdAt": "2026-05-25T21:37:48.456Z",
  "id": "6JugRzxsOGKBvgWW",
  "name": "BarberAgency - Dashboard State Webhook",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "barberagency/dashboard/state",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger-id",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        100,
        400
      ],
      "webhookId": "7d0193ce-0b83-447c-82a7-25f05a8ebf65"
    },
    {
      "parameters": {
        "jsCode": "const i = $input.first().json || {};\nconst h = i.headers || {};\nconst cookieHeader = (h.cookie ?? h.Cookie ?? '').toString();\nconst m = cookieHeader.match(/(?:^|;\\s*)ba_session=([^;]+)/);\nconst session_token = m ? m[1] : '';\nreturn [{ json: { session_token } }];"
      },
      "id": "parse-cookie",
      "name": "Code - parse cookie",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        400
      ]
    },
    {
      "parameters": {
        "operation": "verify",
        "token": "={{ $json.session_token }}",
        "options": {
          "algorithm": "HS256"
        }
      },
      "id": "verify-session",
      "name": "JWT - Verify session",
      "type": "n8n-nodes-base.jwt",
      "typeVersion": 1,
      "position": [
        500,
        400
      ],
      "credentials": {
        "jwtAuth": {
          "id": "mNWhzdM1ihAaBkZM",
          "name": "JWT Auth account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const i = $input.first().json || {};\nconst query = $('Webhook').first().json.query || {};\n\nconst slug = query.slug || query.barberia_slug || null;\nconst idRaw = query.barberia_id || query.id_barberia || null;\nconst barberia_id = idRaw ? Number(idRaw) : 0;\n\nconst auth_ok = !i.error && !!i.payload?.user_id;\nconst user_id = auth_ok ? Number(i.payload.user_id) : 0;\n\nconst params = [\n  user_id,\n  barberia_id,\n  slug,\n  auth_ok\n];\n\nreturn [{ json: { \n  auth_ok, \n  user_id, \n  barberia_id,\n  slug,\n  params\n} }];"
      },
      "id": "claims-input",
      "name": "Code - claims input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        400
      ]
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "executeQuery",
        "query": "\nWITH target_barberia AS (\n  SELECT id, slug, owner_id, email_contacto FROM public.barberias\n  WHERE (\n    ($2::int > 0 AND id = $2::int) OR\n    (($2::int IS NULL OR $2::int = 0) AND slug = $3::text)\n  ) AND deleted_at IS NULL\n),\nauth_check AS (\n  SELECT id, role, email FROM public.usuarios WHERE id = $1 LIMIT 1\n),\nbarberia_check AS (\n  SELECT tb.id FROM target_barberia tb\n  LEFT JOIN auth_check ac ON true\n  WHERE (\n    tb.owner_id = $1 OR\n    EXISTS (\n      SELECT 1 FROM public.barberia_miembros m \n      WHERE m.barberia_id = tb.id \n        AND (m.usuario_id = $1 OR lower(m.email) = lower(ac.email)) \n        AND m.activo = true\n    ) OR\n    EXISTS (SELECT 1 FROM public.barberos WHERE usuario_id = $1 AND barberia_id = tb.id)\n  )\n  AND ($2::int IS NULL OR $2::int = 0 OR tb.slug IS NULL OR $3::text IS NULL OR tb.slug = $3::text)\n  LIMIT 1\n)\nSELECT\n  $4::boolean AS auth_ok_jwt,\n  EXISTS (SELECT 1 FROM auth_check) AS auth_ok,\n  EXISTS (SELECT 1 FROM barberia_check) AS barberia_ok,\n  COALESCE(\n    (SELECT role FROM auth_check) IN ('admin', 'owner', 'super_admin', 'barbero', 'cajero'),\n    false\n  ) AS role_ok,\n  (SELECT id FROM target_barberia LIMIT 1) AS validated_barberia_id,\n  (SELECT role FROM auth_check) AS user_role;\n    ",
        "options": {
          "queryReplacement": "={{ $json.params }}"
        }
      },
      "id": "session-validate",
      "name": "Postgres - session validate",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        900,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "SOV6oSyuHI9cxgLF",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const i = $input.first().json || {};\n\nlet ok = false;\nlet status_code = 200;\nlet message = '';\n\nif (!i.auth_ok_jwt || !i.auth_ok) {\n  status_code = 401;\n  message = 'Sesion no valida';\n} else if (!i.barberia_ok) {\n  status_code = 403;\n  message = 'No tienes permisos para esta barberia o no existe';\n} else if (!i.role_ok) {\n  status_code = 403;\n  message = 'Tu rol no tiene permisos para acceder al dashboard';\n} else {\n  ok = true;\n}\n\nreturn [{ json: { ok, status_code, message, validated_barberia_id: i.validated_barberia_id } }];"
      },
      "id": "check-validation",
      "name": "Check validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "caseSensitive": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "if-validation-ok",
      "name": "IF - Validation OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1300,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: false, message: $json.message } }}",
        "options": {
          "responseCode": "={{ $json.status_code }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://barberagency-barberagency.gymh5g.easypanel.host"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Credentials",
                "value": "true"
              }
            ]
          }
        }
      },
      "id": "respond-error",
      "name": "Respond - error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1500,
        550
      ]
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "executeQuery",
        "query": "SELECT json_build_object(\n  'barberia', (SELECT row_to_json(b) FROM (SELECT * FROM public.barberias WHERE id = $1) b),\n  'owner', (\n    SELECT row_to_json(owner_row)\n    FROM (\n      SELECT u.id, u.nombre, u.email\n      FROM public.barberias b\n      LEFT JOIN public.usuarios u ON u.id = b.owner_id\n      WHERE b.id = $1\n      LIMIT 1\n    ) owner_row\n  ),\n  'servicios', (SELECT COALESCE(json_agg(s), '[]'::json) FROM (SELECT * FROM public.servicios WHERE barberia_id = $1) s),\n  'barberos', (SELECT COALESCE(json_agg(ba), '[]'::json) FROM (\n    SELECT\n      br.*,\n      u.email AS barbero_email,\n      length(COALESCE(u.password_hash, '')) AS password_hash_len\n    FROM public.barberos br\n    LEFT JOIN public.usuarios u ON u.id = br.usuario_id\n    WHERE br.barberia_id = $1\n  ) ba),\n  'horarios', (SELECT COALESCE(json_agg(h), '[]'::json) FROM (SELECT * FROM public.horarios WHERE barberia_id = $1 ORDER BY dia_semana ASC) h),\n  'clientes', (SELECT COALESCE(json_agg(cl), '[]'::json) FROM (SELECT * FROM public.clientes_finales WHERE barberia_id = $1 ORDER BY id DESC) cl),\n  'reservas', (\n    SELECT COALESCE(json_agg(ci), '[]'::json) FROM (\n      SELECT\n        c.*,\n        c.barberia_id AS dashboard_barberia_id,\n        c.barbero_id AS dashboard_barbero_id,\n        c.servicio_id AS dashboard_servicio_id,\n        c.cliente_id AS dashboard_cliente_id,\n        s.nombre AS servicio_nombre,\n        s.precio AS precio,\n        b.nombre AS barbero_nombre,\n        COALESCE(cf.nombre, c.cliente_nombre) AS dashboard_cliente_nombre,\n        COALESCE(cf.telefono, c.cliente_tel) AS dashboard_cliente_tel,\n        p.id AS pago_id,\n        p.total AS total_pagado,\n        p.metodo AS metodo_pago,\n        p.pagado_en AS pagado_en\n      FROM public.citas c\n      LEFT JOIN public.servicios s ON c.servicio_id = s.id\n      LEFT JOIN public.barberos b ON c.barbero_id = b.id\n      LEFT JOIN public.clientes_finales cf ON c.cliente_id = cf.id\n      LEFT JOIN public.pagos p ON c.id = p.cita_id\n      WHERE c.barberia_id = $1\n      ORDER BY c.fecha DESC, c.hora_inicio DESC\n    ) ci\n  )\n) AS result;",
        "options": {
          "queryReplacement": "={{ [$json.validated_barberia_id] }}"
        }
      },
      "id": "pg-fetch-aggregated-data",
      "name": "PG - Fetch Aggregated Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1500,
        250
      ],
      "credentials": {
        "postgres": {
          "id": "SOV6oSyuHI9cxgLF",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const data = $input.first().json.result || {};\nconst barberia = data.barberia || {};\nconst owner = data.owner || {};\nconst servicios = data.servicios || [];\nconst barberos = data.barberos || [];\nconst horarios = data.horarios || [];\nconst clientes = data.clientes || [];\nconst reservas = data.reservas || [];\n\nconst firstText = (...values) => values.map(v => (v ?? '').toString().trim()).find(Boolean) || '';\nconst firstNumber = (...values) => {\n  for (const value of values) {\n    const n = Number(value);\n    if (Number.isFinite(n) && n > 0) return n;\n  }\n  return null;\n};\n\nconst mappedServices = servicios.map(s => ({\n  id: s.id,\n  barberia_id: s.barberia_id,\n  nombre: s.nombre,\n  duracion_min: s.duracion_min,\n  precio: s.precio,\n  activo: s.activo,\n  imagen_url: s.imagen_url\n}));\n\nconst mappedBarbers = barberos.map(b => ({\n  id: b.id,\n  barberia_id: b.barberia_id,\n  nombre: b.nombre,\n  activo: b.activo,\n  usuario_id: b.usuario_id,\n  email: firstText(b.barbero_email, b.email),\n  has_password: Number(b.password_hash_len || 0) > 0,\n  foto_url: b.foto_url\n}));\n\nconst mappedHours = horarios.map(h => ({\n  id: h.id,\n  barberia_id: h.barberia_id,\n  dia_semana: h.dia_semana,\n  activo: h.activo,\n  hora_abre: h.hora_abre,\n  hora_cierra: h.hora_cierra\n}));\n\nconst mappedClients = clientes.map(c => ({\n  id: c.id,\n  barberia_id: firstNumber(c.barberia_id),\n  nombre: firstText(c.nombre),\n  telefono: firstText(c.telefono),\n  created_at: c.created_at\n}));\n\nconst mappedReservations = reservas.map(c => ({\n  id: c.id,\n  barberia_id: firstNumber(c.dashboard_barberia_id, c.barberia_id),\n  barbero_id: firstNumber(c.dashboard_barbero_id, c.barbero_id),\n  id_barbero: firstNumber(c.dashboard_barbero_id, c.barbero_id),\n  servicio_id: firstNumber(c.dashboard_servicio_id, c.servicio_id),\n  id_servicio: firstNumber(c.dashboard_servicio_id, c.servicio_id),\n  cliente_id: firstNumber(c.dashboard_cliente_id, c.cliente_id),\n  cliente_nombre: firstText(c.dashboard_cliente_nombre, c.cliente_nombre),\n  cliente_tel: firstText(c.dashboard_cliente_tel, c.cliente_tel),\n  fecha: firstText(c.fecha),\n  hora_inicio: firstText(c.hora_inicio),\n  hora_fin: firstText(c.hora_fin),\n  servicio_nombre: firstText(c.servicio_nombre),\n  barbero_nombre: firstText(c.barbero_nombre),\n  estado: firstText(c.estado) || 'confirmada',\n  total: Number(c.total || c.precio || 0),\n  pago_id: c.pago_id ? Number(c.pago_id) : null,\n  total_pagado: c.total_pagado ? Number(c.total_pagado) : null,\n  metodo_pago: c.metodo_pago || null,\n  pagado_en: c.pagado_en || null,\n  created_at: c.created_at\n}));\n\nconst now = new Date();\nconst todayDay = now.getDate();\nconst todayMonth = now.getMonth();\nconst todayYear = now.getFullYear();\nconst todayDateString = todayYear + \"-\" + String(todayMonth + 1).padStart(2, \"0\") + \"-\" + String(todayDay).padStart(2, \"0\");\n\nconst todayCitas = mappedReservations.filter(r => String(r.fecha || '').startsWith(todayDateString));\nconst monthlyIncome = mappedReservations.reduce((sum, r) => sum + Number(r.total || 0), 0);\n\nconst response = {\n  ok: true,\n  identity: {\n    barberia_id: barberia.id || null,\n    slug: barberia.slug || null\n  },\n  seed: {\n    id: barberia.id,\n    nombre: barberia.nombre,\n    slug: barberia.slug,\n    services: mappedServices,\n    barbers: mappedBarbers,\n    hours: mappedHours,\n    clients: mappedClients,\n    appointments: mappedReservations\n  },\n  merged: {\n    biz_name: barberia.nombre,\n    biz_slug: barberia.slug,\n    services: mappedServices,\n    barbers: mappedBarbers,\n    hours: mappedHours,\n    clients: mappedClients,\n    appointments: mappedReservations\n  },\n  barberia: barberia,\n  owner: {\n    id: firstNumber(owner.id, barberia.owner_id),\n    nombre: firstText(owner.nombre, owner.name),\n    email: firstText(owner.email)\n  },\n  reservas: mappedReservations,\n  clientes: mappedClients,\n  metricas: {\n    ingresos_mensuales: monthlyIncome,\n    citas_hoy: todayCitas.length,\n    nuevos_clientes: mappedClients.length\n  },\n  barberos: mappedBarbers,\n  servicios: mappedServices\n};\n\nreturn [{ json: response }];"
      },
      "id": "code-format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1700,
        250
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://barberagency-barberagency.gymh5g.easypanel.host"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Credentials",
                "value": "true"
              }
            ]
          }
        }
      },
      "id": "respond-ok",
      "name": "Respond - ok",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1900,
        250
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code - parse cookie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - parse cookie": {
      "main": [
        [
          {
            "node": "JWT - Verify session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT - Verify session": {
      "main": [
        [
          {
            "node": "Code - claims input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - claims input": {
      "main": [
        [
          {
            "node": "Postgres - session validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - session validate": {
      "main": [
        [
          {
            "node": "Check validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check validation": {
      "main": [
        [
          {
            "node": "IF - Validation OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Validation OK": {
      "main": [
        [
          {
            "node": "PG - Fetch Aggregated Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG - Fetch Aggregated Data": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond - ok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": null,
  "versionId": "c836e54a-636c-446d-b51a-0f20c95afa32",
  "activeVersionId": null,
  "versionCounter": 32,
  "triggerCount": 1,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-05-25T21:37:48.459Z",
      "createdAt": "2026-05-25T21:37:48.459Z",
      "role": "workflow:owner",
      "workflowId": "6JugRzxsOGKBvgWW",
      "projectId": "ajSDxUXg76Ss65zL",
      "project": {
        "updatedAt": "2026-02-09T14:41:23.917Z",
        "createdAt": "2026-02-09T14:01:19.465Z",
        "id": "ajSDxUXg76Ss65zL",
        "name": "Carlos a Alvis <carlosalbertoalvisrodriguez@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "4ede7508-997a-4475-b2b8-9be2e3a6a415"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}